@{
    ViewBag.Title = "Outbound Tracking";
}

@using System.Web.Mvc

<style type="text/css">
    .form-horizontal .control-label {
        text-align: left !important;
    }

    .box-custom .box {
        border: 1px solid #808080;
        border-top: 2px solid #000006 !important;
    }

    .box-custom .box-header {
        /*color: white;*/
        background: #000006;
        color: white;
    }

    .box-custom .form-group {
        margin-bottom: 5px;
        border-bottom: 1px solid #d2cece;
        padding-top: 3px;
        padding-bottom: 4px;
    }

    .box-header.with-border {
        border-bottom: 4px solid #fe9d01;
    }

    .box .box-header .box-title {
        display: inline-block;
        padding: 10px 0px 0px 10px;
        margin: 0;
        font-size: 14px;
        font-weight: bold;
        float: left;
        cursor: default;
    }

    .scheduler-border {
        width: auto; /* Or auto */
        padding-left: 10px; /* To give a bit of padding on the left and right */
        border: 1px solid #cecece;
        margin-top: 10px;
    }

    .btn-trak {
        background: #fe9d01;
    }

    .toolbarBtn {
        margin-top: 10px;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="box box-warning">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#Home"><b>Detail Outbound</b></a></li>
                            <li><a data-toggle="tab" href="#List"><b>List Outbound</b></a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="Home" class="tab-pane fade in active">
                                <div class="col-md-12">
                                    <div class="">&nbsp;</div>
                                    <p>Please input (Serial Number) for searching</p>
                                    <div class="col-md-4">
                                        <div class="row">
                                            <div class="input-group input-group-sm">
                                                <input type="text" id="searchKey" class="form-control" placeholder="Type any keys">
                                                <span class="input-group-btn">
                                                    <button type="button" onclick="searchData();" class="btn btn-warning btn-flat" style="color:black;"><i class="fa fa-search"></i> Search</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="">&nbsp;</div>
                                @RenderPage("~/Views/DTS/FormOutboundGrouping.cshtml")
                                <div class="row" id="loading" style="display:none;padding-top:20px;border-top:1px solid #cecece;margin-top:40px;">
                                    <div class="col-md-12 text-center">
                                        <img src="~/Content/Images/ajax-loading.gif" />
                                    </div>
                                </div>
                                <div class="row" id="OutboundDetailNone" style="display:none;border-top:1px solid #cecece;margin-top:40px;">
                                    <div class="col-md-12 text-center">
                                        <h5><strong>Tidak ada data ditemukan</strong></h5>
                                    </div>
                                </div>
                            </div>
                            <div id="List" class="tab-pane fade in">
                                <div class="col-md-12">
                                    <div class="form-horizontal" style="margin-top:20px;">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">DI Number</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" name="DI" id="DINumber" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">DA Number</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" name="DA" id="DANumber" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Origin</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" name="filterOrigin" id="filterOrigin" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Destination</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" name="filterDestination" id="filterDestination" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Moda</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" name="Moda" id="FilterModa" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Unit Type</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" name="UnitType" id="FilterUnitType" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Model</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" name="Model" id="FilterModel" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Serial Number</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" name="SerialNumber" id="FilterSerialNumber" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Status</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" name="Status" id="FilterStatus" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Position</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" name="Position" id="FilterPosition" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">&nbsp;</div>
                                        <div class="col-md-6 pull-right">
                                            <button class="pull-right btn btn-warning" id="BtnFilter" style="color:black;"><i class="fa fa-search"></i> Search</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="">&nbsp;</div>
                                <div class="col-md-12">
                                    <div id="toolbar" class="col-md-2 toolbarBtn">
                                        <div class="row">
                                            <button class="btn btn-success" type="button" id="btnExportOutbound"><i class="fa fa-file-excel-o"></i> Download to Excel</button>
                                        </div>
                                    </div>
                                    <table id="tableOutbound" data-toolbar=".toolbar" class="table table-bordered"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="box-body">
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12" id="formAdvanceSearch" style="margin-top:20px; display:none;">
                        <div class="box-body">
                            <div class="form-horizontal">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Moda</label>
                                        <div class="col-md-8">
                                            <select class="form-control">
                                                <option>- Select Moda -</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Unit Type</label>
                                        <div class="col-md-8">
                                            <select class="form-control">
                                                <option>- Select Unit Type -</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Model</label>
                                        <div class="col-md-8">
                                            <select class="form-control">
                                                <option>- Select Model -</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">&nbsp;</div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Status</label>
                                        <div class="col-md-10">
                                            <select class="form-control">
                                                <option>- Select Status -</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Position</label>
                                        <div class="col-md-10">
                                            <select class="form-control">
                                                <option>- Select Position -</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id='myModalPlace' class='modal fade in'>
    <div class="modal-dialog" style="width:800px">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
@section scripts{
    <script src="@Url.Content("~/Scripts.app/DTS/Outbound.cshtml.js")"></script>
}
