<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="pisConnection" connectionString="data source=vtu-sapcrmqas.tu.tmt.co.id;initial catalog=PartsInformationSystem;Connection Timeout=200;persist security info=True;user id=portalqa;password=portalqa1609;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="postConnection" connectionString="data source=vtu-sapcrmqas.tu.tmt.co.id;initial catalog=POST_APPS;Connection Timeout=200;persist security info=True;user id=portalqa;password=portalqa1609;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>
  <appSettings>
    <!--<add key="userNameKPI" value="Ict.Development" />
    <add key="userEmailKPI" value="Ict.Development@trakindo.co.id" />
    <add key="passwordKPI" value="trakindo#1912" />
    <add key="ImagesData.document" value="D:/data/MailFromExchangeServer/" />-->
    <add key="UserNameFolderKOFAX" value="KofaxPOST" />
    <add key="PasswordFolderKOFAX" value="Trakindo1!" />
    <add key="ApplicationDevelopment" value="True" />

  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>