@using System.Web.Mvc

<style type="text/css">
    .label-mail{ font-size: 12px; font-weight: bold !important;}
</style>

<div class="modal-header bg-orange">
    <button type="button" class="close" data-dismiss="modal" data-target="#myModalRequestComplete" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">COMPLETE E-DELIVERY</h4>
</div>
<div class="modal-body" style="padding-top:10px; margin-left: 10px; margin-right: 10px;">
    <div id="sea-freight" class="row freight hidden" style="margin-top: 10px;">
        <div class="col-lg-12">
            <form class="form" id="form-sea-freight">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="VeselName" class="control-label col-md-4 col-xs-12">Vessel Name*</label>
                            <div class="input-group col-md-8 col-xs-12">
                                <input id="VeselName" name="VeselName" class="form-control" placeholder="Vessel Name" required />
                                <div for="VeselName" class="error">This field is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="PICName" class="control-label col-md-4 col-xs-12">PIC Name*</label>
                            <div class="input-group col-md-8 col-xs-12">
                                <input type="text" class="form-control" id="PICName" name="PICName" placeholder="PIC Name" required />
                                <div for="PICName" class="error">This field is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="PICHp" class="control-label col-md-4 col-xs-12">PIC HP</label>
                            <div class="input-group col-md-8 col-xs-12">
                                <input type="text" class="form-control" name="PICHp" id="PICHp" placeholder="PIC HP" />
                                <div for="PICHp" class="error">This field is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="VeselName" class="control-label col-md-4 col-xs-12">&nbsp;</label>
                            <div class="input-group col-md-8 col-xs-12">
                                <input id="Attachment1-sea" name="Attachment1"
                                       type="file" class="file"
                                       data-browse-on-zone-click="false"
                                       data-show-preview="false"
                                       show-upload="false"
                                       data-allowed-file-extensions='["jpg", "png", "gif","docx","doc","xlsx","xls","pdf","zip","rar"]'
                                       data-show-upload="false"
                                       data-show-caption="true"
                                       data-msg-placeholder="Select {files} for upload..." />
                                <label>*Jpg/Doc/Xls/Pdf/Zip/rar</label>
                                <div for="Attachment1" class="error">This field is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="PickUpPlan" class="control-label col-md-5 col-xs-12">Pick Up Plan*</label>
                            <div class="input-group col-md-7 col-xs-12">
                                <input class="form-control date" name="PickUpPlan" id="PickUpPlan"
                                       required placeholder="Pick Up Plan" />
                                <div for="PickUpPlan" class="error">This field is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="EstTimeDeparture" class="control-label col-md-5 col-xs-12">Estimation Time Departure*</label>
                            <div class="input-group col-md-7 col-xs-12">
                                <input class="form-control date" name="EstTimeDeparture" id="EstTimeDeparture"
                                       required placeholder="Estimation Time Departure" />
                                <div for="EstTimeDeparture" class="error">This field is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="EstTimeArrival" class="control-label col-md-5 col-xs-12">Estimation Time Arrival*</label>
                            <div class="input-group col-md-7 col-xs-12">
                                <input class="form-control date" name="EstTimeArrival" id="EstTimeArrival"
                                       required placeholder="Estimation Time Arrival" />
                                <div for="EstTimeArrival" class="error">This field is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="VeselName" class="control-label col-md-5 col-xs-12">&nbsp;</label>
                            <div class="input-group col-md-7 col-xs-12">
                                <input id="Attachment2-sea" name="Attachment2" type="file" class="file"
                                       data-browse-on-zone-click="false"
                                       data-show-preview="false"
                                       show-upload="false"
                                       data-allowed-file-extensions='["jpg", "png", "gif","docx","doc","xlsx","xls","pdf","zip","rar"]'
                                       data-show-upload="false"
                                       data-show-caption="true"
                                       data-msg-placeholder="Select {files} for upload..." />
                                <label>*Jpg/Doc/Xls/Pdf/zip/rar</label>
                                <div for="Attachment2" class="error">This field is required</div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="land-freight" class="row freight hidden" style="margin-top: 10px;">
        <div class="col-lg-12">
            <form class="form" id="form-land-freight">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="VeselNoPolice" class="control-label col-md-4 col-xs-12">NO POLISI*</label>
                                <div class="input-group col-md-8 col-xs-12">
                                    <input name="VeselNoPolice" class="form-control" placeholder="NO POLISI" />                                
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="DriverName" class="control-label col-md-4 col-xs-12">DRIVER Name*</label>
                                <div class="input-group col-md-8 col-xs-12">
                                    <input type="text" class="form-control" name="DriverName" placeholder="DRIVER Name" />
                                   
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="DriverHp" class="control-label col-md-4 col-xs-12">DRIVER HP</label>
                                <div class="input-group col-md-8 col-xs-12">
                                    <input type="text" class="form-control" name="DriverHp" placeholder="DRIVER HP" />                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <label for="PickUpPlan" class="control-label col-md-5 col-xs-12">PickUp Plan*</label>
                                <div class="input-group col-md-7 col-xs-12">
                                    <input class="form-control date" name="PickUpPlan" placeholder="Pick Up Plan" />
                                   
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="EstTimeDeparture" class="control-label col-md-5 col-xs-12">Estimation Time Departure*</label>
                                <div class="input-group col-md-7 col-xs-12">
                                    <input class="form-control date" name="EstTimeDeparture" placeholder="Estimation Time Departure" />
                                   
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="EstTimeArrival" class="control-label col-md-5 col-xs-12">Estimation Time Arrival*</label>
                                <div class="input-group col-md-7 col-xs-12">
                                    <input class="form-control date" name="EstTimeArrival" placeholder="Estimation Time Arrival" />
                                   
                                </div>
                            </div>
                            <div class="pull-left ct-apply-to-all">
                                <div class="checkbox">
                                    <label style="font-weight: bolder;">
                                        <input id="ApplyToAll" name="ApplyToAll" value="true" type="checkbox" /> Apply to All Unit
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="col-md-12">
                        <table id="tableDRAccComplteUnit" class="table table-bordered"
                               data-editable-emptytext="Empty">
                            <thead>
                                <tr>
                                    <th data-field="HeaderId" data-visible="false">Header ID</th>
                                    <th data-field="RefNo" data-visible="false">RefNo</th>
                                    <th data-field="RefItemId" data-visible="false">Item ID</th>
                                    <th data-field="Model" data-sortable="true">Model</th>
                                    <th data-field="SerialNumber" data-sortable="true">Serial Number</th>
                                    <th data-field="Batch" data-sortable="true">Batch</th>
                                    <th data-field="VeselNoPolice"
                                        data-editable="true"
                                        data-editable-type="text"
                                        data-editable-emptytext="-"
                                        data-editable-mode="inline">No. Polisi</th>
                                    <th data-field="DriverName"
                                        data-editable="true"
                                        data-editable-emptytext="-"
                                        data-editable-mode="inline">Driver Name</th>
                                    <th data-field="DriverHp"
                                        data-editable="true"
                                        data-editable-emptytext="-"
                                        data-editable-mode="inline">Driver HP</th>
                                    <th data-field="PickUpPlan" data-editable="true"
                                        data-editable-type="date"
                                        data-editable-emptytext="-"
                                        data-editable-placement="bottom">Pick Up Plan</th>
                                    <th data-field="EstTimeDeparture" data-editable="true"
                                        data-editable-placement="bottom"
                                        data-editable-emptytext="-"
                                        data-editable-type="date">ETD</th>
                                    <th data-field="EstTimeArrival" data-editable="true"
                                        data-editable-placement="bottom"
                                        data-editable-emptytext="-"
                                        data-editable-type="date">ETA</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <div class="input-group col-md-12 col-xs-12">
                            <input id="Attachment1-land" name="Attachment1"
                                   type="file" class="file"
                                   data-browse-on-zone-click="false"
                                   data-show-preview="false"
                                   show-upload="false"
                                   data-allowed-file-extensions='["jpg", "png", "gif","docx","doc","xlsx","xls","pdf","zip","rar"]'
                                   data-show-upload="false"
                                   data-show-caption="true"
                                   data-msg-placeholder="Select {files} for upload..." />
                            <label>*Jpg/Doc/Xls/Pdf/zip/rar</label>
                            <div for="Attachment1" class="error">This field is required</div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="input-group col-md-12 col-xs-12">
                            <input id="Attachment2-land" name="Attachment2" type="file" class="file"
                                   data-browse-on-zone-click="false"
                                   data-show-preview="false"
                                   show-upload="false"
                                   data-allowed-file-extensions='["jpg", "png", "gif","docx","doc","xlsx","xls","pdf","zip","rar"]'
                                   data-show-upload="false"
                                   data-show-caption="true"
                                   data-msg-placeholder="Select {files} for upload..." />
                            <label>*Jpg/Doc/Xls/Pdf/zip/rar</label>
                            <div for="Attachment2" class="error">This field is required</div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="air-freight" class="row freight hidden" style="margin-top: 10px;">
        <div class="col-lg-12">
            <form class="form" id="form-air-freight">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="DANo" class="control-label col-md-5 col-xs-12">DA No*</label>
                            <div class="input-group col-md-7 col-xs-12">
                                <input id="DANo" name="DANo" class="form-control" placeholder="DA No" required />
                                <div for="DANo" class="error">This field is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="EstTimeDeparture" class="control-label col-md-5 col-xs-12">Estimation Time Departure*</label>
                            <div class="input-group col-md-7 col-xs-12">
                                <input class="form-control date" name="EstTimeDeparture"
                                       required placeholder="Estimation Time Departure" />
                                <div for="EstTimeDeparture" class="error">This field is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="EstTimeArrival" class="control-label col-md-5 col-xs-12">Estimation Time Arrival*</label>
                            <div class="input-group col-md-7 col-xs-12">
                                <input class="form-control date" name="EstTimeArrival"
                                       required placeholder="Estimation Time Arrival" />
                                <div for="EstTimeArrival" class="error">This field is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group col-md-12 col-xs-12">
                                <input name="Attachment1" id="Attachment1-air" type="file" class="file"
                                       data-browse-on-zone-click="false"
                                       data-show-preview="false"
                                       show-upload="false"
                                       data-allowed-file-extensions='["jpg", "png", "gif","docx","doc","xlsx","xls","pdf","zip","rar"]'
                                       data-show-upload="false"
                                       data-show-caption="true"
                                       data-msg-placeholder="Select {files} for upload..." />
                                <label>*Jpg/Doc/Xls/Pdf/zip/rar</label>
                                <div for="Attachment1" class="error">This field is required</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group col-md-12 col-xs-12">
                                <input id="Attachment2-air" name="Attachment2" type="file" class="file"
                                       data-browse-on-zone-click="false"
                                       data-show-preview="false"
                                       show-upload="false"
                                       data-allowed-file-extensions='["jpg", "png", "gif","docx","doc","xlsx","xls","pdf"]'
                                       data-show-upload="false"
                                       data-show-caption="true"
                                       data-msg-placeholder="Select {files} for upload..." />
                                <label>*Jpg/Doc/Xls/Pdf</label>
                                <div for="Attachment2" class="error">This field is required</div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

<div class="row">
        @*<div class="col-lg-6">
            <div class="row">
                <div class="col-md-5 text-left">
                    <div class="form-group">                     
                            <label class="label-mail"> <input name="SendEmailCheckAll" value="true" type="checkbox" /> Check All </label><br />                        
                    </div>
                    <div class="form-group">
                        <label for="SendEmailToCkb" class="control-label">MAIL CKB</label><br />
                        <div class="checkbox sendmail">
                            <label> <input name="SendEmailToCkbAllArea" value="true" type="checkbox" /> MAIL TO ALL AREA </label><br />
                            <label> <input name="SendEmailToCkbCakung" value="true" type="checkbox" /> MAIL TO CAKUNG </label><br />
                            <label> <input name="SendEmailToCkbSurabaya" value="true" type="checkbox" /> MAIL TO SURABAYA </label><br />
                            <label> <input name="SendEmailToCkbMakassar" value="true" type="checkbox" /> MAIL TO MAKASSAR </label><br />
                            <label> <input name="SendEmailToCkbCakungStandartKit" value="true" type="checkbox" /> MAIL TO CAKUNG (OPERATION,STANDART KIT & ENGINE) </label><br />
                            <label> <input name="SendEmailToCkbBalikpapan" value="true" type="checkbox" /> MAIL TO BALIKPAPAN </label><br />
                            <label> <input name="SendEmailToCkbBanjarmasin" value="true" type="checkbox" /> MAIL TO BANJARMASIN </label><br />
                        </div>
                    </div>
                    <div class="form-group">
            <div class="checkbox">
                <label style="font-size: 12px; font-weight: bold;">
                    <input name="SendEmailToCakung" value="true" type="checkbox" /> MAIL TO Cakung
                </label><br />
            </div>
            <div for="SendEmailToCakung" class="error">This field is required</div>
        </div>
                </div>
                <div class="col-md-7 text-left" style="padding-left: 5px;">
                    <div class="form-group">
                        <label for="SendEmailNotes" class="control-label">&nbsp;</label>
                        <textarea class="form-control" id="SendEmailNotes" name="SendEmailNotes" placeholder="Note For Email" rows="10"></textarea>
                        <div for="SendEmailNotes" class="error">This field is required</div>
                    </div>
                </div>
              
            </div>
        </div>*@
        <div class="col-lg-6">
            <div class="row">
                <div class="col-md-12">
                    @*<div class="form-group">
                        <label class="label-mail"> <input name="SendEmailCheckAll" value="true" type="checkbox" /> Check All </label><br />
                    </div>*@
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="SendEmailToCakung" class="control-label">MAIL WAREHOUSE</label><br />
                            <div class="checkbox sendmail">
                                <label> <input name="SendEmailToCakung" value="true" type="checkbox" /> MAIL TO CAKUNG </label><br />
                                <label> <input name="SendEmailToBalikPapan" value="true" type="checkbox" /> MAIL TO BALIKPAPAN </label><br />
                                <label> <input name="SendEmailToMakasar" value="true" type="checkbox" /> MAIL TO MAKASAR </label><br />
                                <label> <input name="SendEmailToSurabaya" value="true" type="checkbox" /> MAIL TO SURABAYA </label><br />
                                <label> <input name="SendEmailToBanjarMasin" value="true" type="checkbox" /> MAIL TO BANJARMASIN </label><br />
                                @*<label> <input name="SendEmailToPalembang" value="true" type="checkbox" /> MAIL TO PALEMBANG </label><br />
                                <label> <input name="SendEmailToPekanBaru" value="true" type="checkbox" /> MAIL TO PEKANBARU </label><br />*@
                                <label> <input name="SendEmailToCileungsi" value="true" type="checkbox" /> MAIL TO CILEUNGSI </label><br />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="SendEmailToCakung" class="control-label">MAIL TU SERVICE</label><br />
                            <div class="checkbox sendmail">
                                <label><input name="SendEmailToServiceTUPalembang" value="true" type="checkbox" /> MAIL TO SERVICE TU PALEMBANG</label><br />
                                <label><input name="SendEmailToServiceTUPekanBaru" value="true" type="checkbox" /> MAIL TO SERVICE TU PEKANBARU</label><br />
                                <label><input name="SendEmailToServiceTUJambi" value="true" type="checkbox" /> MAIL TO SERVICE TU JAMBI</label><br />
                                <label><input name="SendEmailToServiceTUBengkulu" value="true" type="checkbox" /> MAIL TO SERVICE TU BENGKULU</label><br />
                                <label><input name="SendEmailToServiceTUTanjungEnim" value="true" type="checkbox" /> MAIL TO SERVICE TU TANJUNG ENIM</label><br />
                                <label><input name="SendEmailToServiceTUMedan" value="true" type="checkbox" /> MAIL TO SERVICE TU MEDAN</label><br />
                                <label><input name="SendEmailToServiceTUPadang" value="true" type="checkbox" /> MAIL TO SERVICE TU PADANG</label><br />
                                <label><input name="SendEmailToServiceTUBangkaBelitung" value="true" type="checkbox" /> MAIL TO SERVICE TU BANGKA BELITUNG</label><br />
                                <label><input name="SendEmailToServiceTUBandarLampung" value="true" type="checkbox" /> MAIL TO SERVICE TU BANDAR LAMPUNG</label><br />
                                <label><input name="SendEmailToServiceTUBSD" value="true" type="checkbox" /> MAIL TO SERVICE TU BSD</label><br />
                                <label><input name="SendEmailToServiceTUSurabaya" value="true" type="checkbox" /> MAIL TO SERVICE TU SURABAYA</label><br />
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="SendEmailToCakung" class="control-label">&nbsp;</label><br />
                            <div class="checkbox sendmail">
                                <label><input name="SendEmailToServiceTUManado" value="true" type="checkbox" /> MAIL TO SERVICE TU MANADO</label><br />
                                <label><input name="SendEmailToServiceTUJayapura" value="true" type="checkbox" /> MAIL TO SERVICE TU JAYAPURA</label><br />
                                <label><input name="SendEmailToServiceTUSorong" value="true" type="checkbox" /> MAIL TO SERVICE TU SORONG</label><br />
                                <label><input name="SendEmailToServiceTUSamarinda" value="true" type="checkbox" /> MAIL TO SERVICE TU SAMARINDA</label><br />
                                <label><input name="SendEmailToServiceTUBalikpapan" value="true" type="checkbox" /> MAIL TO SERVICE TU BALIKPAPAN</label><br />
                                <label><input name="SendEmailToServiceTUMakassar" value="true" type="checkbox" /> MAIL TO SERVICE TU MAKASSAR</label><br />
                                <label><input name="SendEmailToServiceTUSemarang" value="true" type="checkbox" /> MAIL TO SERVICE TU SEMARANG</label><br />
                                <label><input name="SendEmailToServiceTUPontianak" value="true" type="checkbox" /> MAIL TO SERVICE TU PONTIANAK</label><br />
                                <label><input name="SendEmailToServiceTUBatuLicin" value="true" type="checkbox" /> MAIL TO SERVICE TU BATU LICIN</label><br />
                                <label><input name="SendEmailToServiceTUSangatta" value="true" type="checkbox" /> MAIL TO SERVICE TU SANGATTA</label><br />
                                <label><input name="SendEmailToServiceTUKendari" value="true" type="checkbox" /> MAIL TO SERVICE TU KENDARI</label><br />
                                <label><input name="SendEmailToServiceTUMeulaboh" value="true" type="checkbox" /> MAIL TO SERVICE TU MEULABOH</label><br />                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="modal-footer">
    <div class="button-action">
        <button id="SaveComplete" name="SaveComplete" class="btn-form btn btn-success" type="button"><i class="fa fa-cog"></i> Save</button>
        <button name="Cancel" class="btn-form btn btn-warning action-form" onclick="hideModal('myModalRequestComplete');">
            <i class="fa fa-arrow-left"></i> Close
        </button>
    </div>
</div>