<style type="text/css">
    /*progressbar*/
    #progressbar {
        /*margin-bottom: -15px;*/
        padding-left: 0px;
        overflow: hidden;
        /*CSS counters to number the steps*/
        counter-reset: step;
        text-align: center;
    }

    #progressbar li {
        list-style-type: none;
        text-transform: uppercase;
        font-size: 9px;
        width: 20%;
        float: left;
        position: relative;
        letter-spacing: 1px;
        padding-top: 20px;
        cursor: pointer;
    }

    #progressbar li:before {
        /*content: counter(step);
        counter-increment: step;*/
        width: 50px;
        height: 50px;
        line-height: 50px;
        display: block;
        font-size: 20px;
        color: #333;
        background: white;
        border-radius: 25px;
        margin: 0 auto 10px auto;
    }

    #progressbar li:before {
        z-index: 1;
        position: relative;
    }

    #progressbar li:after {
        content: '';
        width: 100%;
        height: 5px;
        background: white;
        position: absolute;
        left: -50%;
        top: 42px;
        z-index: 0; /*put it behind the numbers*/
    }

    #progressbar li:first-child:after {
        /*connector not needed before the first step*/
        content: none;
    }

    #progressbar li.activedr:before {
        background: #07e412; /*#e08e0b;*/
        color: white;
        content: '';
        background-image: url('/Images/DR Creation.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 70% 70%;
    }
    #progressbar li.activedr:after {
        background: #07e412; /*#e08e0b;*/
        color: white;
    }
    #progressbar li.activepr:before {
        background: #07e412; /*#e08e0b;*/
        color: white;
        content: '';
        background-image: url('/Images/preparation.png');
        background-position: left;
        background-repeat: no-repeat;
        background-size: 80% 80%;
    }
    #progressbar li.activepr:after {
        background: #07e412; /*#e08e0b;*/
        color: white;
    }
   #progressbar li.activepck:before {
       background: #07e412; /*#e08e0b;*/
       color: white;
       content: '';
       background-image: url('/Images/Pickup.png');
       background-position: center;
       background-repeat: no-repeat;
       background-size: 80% 55%;
   }

   #progressbar li.activepck:after {
       background: #07e412; /*#e08e0b;*/
       color: white;
   }
   #progressbar li.activeint:before {
       background: #07e412; /*#e08e0b;*/
       color: white;
       content: '';
       background-image: url('/Images/Intransit.png');
       background-position: center;
       background-repeat: no-repeat;
       background-size: 80% 60%;
   }

   #progressbar li.activeint:after {
       background: #07e412; /*#e08e0b;*/
       color: white;
   }
  #progressbar li.activepod:before {
      background: #07e412; /*#e08e0b;*/
      color: white;
      content: '';
      background-image: url('/Images/POD.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 80% 60%;
  }

  #progressbar li.activepod:after {
      background: #07e412; /*#e08e0b;*/
      color: white;
  }

        #progressbar li.pck-risk-of-delay:before {
            background: #f7dc04; /*#e08e0b;*/
            color: white;
            background-image: url('/Images/Pickup.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 80% 55%;
            content:'';
        }
        #progressbar li.pck-risk-of-delay:after {
            background: #f7dc04; /*#e08e0b;*/
            color: white;
        }
        #progressbar li.pck-delay:before {
            background: red; /*#e08e0b;*/
            color: white;
            background-image: url('/Images/Pickup.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 80% 55%;
            content: '';
        }
        #progressbar li.pck-delay:after {
            background: red; /*#e08e0b;*/
            color: white;
        }
        #progressbar li.int-risk-of-delay:before {
            background: #f7dc04; /*#e08e0b;*/
            color: white;
            background-image: url('/Images/Intransit.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 80% 60%;
            content: '';
        }

        #progressbar li.int-risk-of-delay:after {
            background: #f7dc04; /*#e08e0b;*/
            color: white;
        }

        #progressbar li.int-delay:before {
            background: red; /*#e08e0b;*/
            color: white;
            background-image: url('/Images/Intransit.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 80% 60%;
            content: '';
        }

        #progressbar li.int-delay:after {
            background: red; /*#e08e0b;*/
            color: white;
        }

    #progressbar li.dr:before {
        background-color: silver;
        color: white;
        content: '';
        background-image: url('/Images/DR Creation.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 70% 70%;
    }
        #progressbar li.dr:after {
            background-color: silver;
            color: white;
        }
        #progressbar li.pr:before {
            background-color: silver;
            color: white;
            content: '';
            background-image: url('/Images/preparation.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 80% 80%;
        }

        #progressbar li.pr:after {
            background-color: silver;
            color: white;
        }
        #progressbar li.pck:before {
            background-color: silver;
            color: white;
            content: '';
            background-image: url('/Images/Pickup.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 80% 55%;
        }

        #progressbar li.pck:after {
            background-color: silver;
            color: white;
        }
        #progressbar li.int:before {
            background-color: silver;
            color: white;
            content: '';
            background-image: url('/Images/Intransit.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 80% 60%;
        }

        #progressbar li.int:after {
            background-color: silver;
            color: white;
        }
        #progressbar li.pod:before {
            background-color: silver;
            color: white;
            content: '';
            background-image: url('/Images/POD.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 80% 60%;
        }

        #progressbar li.pod:after {
            background-color: silver;
            color: white;
        }

    #progressbar li > span.top{
        position: absolute;
        top: 0;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
    }

    .label-progress {
        font-family: 'Source Sans Pro', sans-serif !important;
        font-size: 10px;
        font-weight: bold;
    }
    
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="box box-warning">
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="pull-left">
                            <h5 style="color:#f39c12;"><strong>ORIGIN</strong></h5>
                            <h5><strong id="originTracking">PTTU PEKAN BARU</strong></h5>
                            <label class="help-block"><span class="lhelp-block traking-date" id="ExpTDTracking">Tue 16/01/2019</span></label>
                        </div>
                    </div>
                    @*fa fa-file-medical fa-5x*@
                    @*fa fa-hourglass-half fa-5x*@
                    @*fa fa-truck-pickup fa-5x*@
                    @*fa fa-shipping-fast fa-5x*@
                    @*fa fa-handshake*@
                    <div class="col-lg-7" style="padding-left: 0px;padding-right: 0px;">
                        <ul id="progressbar" style="margin-top: 20px;">
                            <li id="flowCreated" class="dr">
                                <span class="label-progress">DR CREATION</span></li>
                            <li id="flowProgress" class="pr">
                                <span class="label-progress top">PREPARATION</span>
                            </li>
                            <li id="flowPickup" class="pck">
                                <span class="label-progress">PICKUP</span>
                            </li>
                            <li id="flowIntransit" class="int">
                                <span class="label-progress top">INTRANSIT</span>
                            </li>
                            <li id="flowPOD" class="pod">
                                <span class="label-progress">POD</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <div class="">
                            <h5 style="color:#f39c12;"><strong>DESTINATION</strong></h5>
                            <h5><strong id="destinationTracking">PT ANUGRAH RIAU UTAMA</strong></h5>
                            <label class="help-block"><span class="lhelp-block traking-date" id="ExpTATracking">Tue 16/01/2019</span></label>
                            <span id="flagReRaoute"><b style="color: red;">(REROUTE)</b><b> - </b></span>
                            <span class="lhelp-block" style="color:#009311;" id="destTrackingAddress">Kota</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer" style="text-align:center;background-color:#e08e0b57;box-shadow: 0px 1px 3px #e08e0b57;">
                <h5 style="margin-top:0px;margin-bottom:0px;">
                    <strong id="lblTrackingStatusDate"></strong>
                    <strong id="lblTrackingStatus">ON SCHEDULE</strong>
                </h5>
            </div>
        </div>
    </div>
</div>