@{
    Layout = "~/Views/Shared/_Layoutv3.cshtml";
    ViewBag.Title = "DTS Home";
}

@using System.Web.Mvc
<link href="/Scripts/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
<link href="/Scripts/kartik-v-bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />

<style type="text/css">

    .highcharts-container {
        height: 400px !important;
    }

    .homebox {
        /*width: 271px;*/
        height: 100px;
        /*left: 220px;*/
        /*top: 135px;*/
        margin: 50px !important;
        background: #FFFFFF;
        border: 1px solid #F2F2F2;
        box-sizing: border-box;
        box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        cursor: pointer;
    }

    .homesmallbox {
        position: relative;
        height: 80px;
        background: #FFFFFF;
        border: 1px solid #F2F2F2;
        box-sizing: border-box;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        width: 180px;
        padding-left: 10px !important;
        z-index: 2;
    }

    .homefont {
        /*position: absolute;*/
        /*width: 143px;*/
        height: 34px;
        /*left: 227px;
        top: 176px;*/
        /*font-family: Gilroy;*/
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 30px;
        /* or 187% */
        /*display: flex;*/
        align-items: center;
        letter-spacing: 0.01em;
        color: #000000;
        padding-left: 10px;
    }

    .collapsible {
        cursor: pointer;
        padding-left: 80px;
        /*width: 100%;*/
        border: none;
        text-align: left;
        outline: none;
    }

    .statistic {
        background: #FFFFFF;
        border: 1px solid #E6E6E6;
        box-sizing: border-box;
        border-radius: 10px;
    }

    .homebox :hover {
        cursor: pointer;
        text-decoration: underline;
    }
    .notifcount {
        cursor: pointer;
    }
    .notifcount :hover {
       
        text-decoration: underline;
    }
</style>

<div class="box box-warning">
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                <div id="imageDeliveryTracking" class="col-md-2 col-sm-2 col-xs-12 homebox">
                    <br />
                    <img id="imageDeliveryTracking" src="~/Images/tracking.png" />
                    <label id="imageDeliveryTracking" class="homefont">DELIVERY TRACKING</label>
                </div>
                <div id="createDRnew" class="col-md-2 homebox ">
                    <br />
                    <img id="createDRnew" src="~/Images/CreateDRNew.png">
                    <label id="createDRnew" class="homefont ">CREATE DR</label>
                </div>

                <div id="createDINew" class="col-md-2 homebox">
                    <br />
                    <img id="createDINew" src="~/Images/CreateDIManualNew.png" />
                    <label id="createDINew" class="homefont">CREATE STR ON SITE</label>
                </div>
                <div id="DRList" class="col-md-2 homebox">
                    <br />
                    <img id="DRList" src="~/Images/DRListNew.png" />
                    <label id="DRList" class="homefont">DR LIST</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="freight" class="col-md-2 homebox ">
                    <br />
                    <img id="freight" src="~/Images/freight.png" />
                    <label id="freight" class="homefont">FREIGHT ESTIMATE</label>
                </div>
                <div id="userguide" class="col-md-2 homebox ">
                    <br />
                    <img id="userguide" src="~/Images/Evis.png" />
                    <label id="userguide" class="homefont">USER GUIDE</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="statistic">
                    <div id="ChartDR" class="chart-container"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="statistic">
                    <div style="font-weight: 600;font-size: 14px;line-height: 24px;margin: 20px">
                        <strong>DR STATISTIC</strong>
                    </div>
                    <div class="notifcount" style="font-weight: 600;font-size: 12px;line-height: 24px;margin: 20px">
                        <label id="countnotifToday"></label> NEW REQUEST TODAY
                    </div>
                    <div style="border:1px solid #EEF0F7;">
                    </div>
                    <div class="notifcount" style="font-weight: 600;font-size: 13px;line-height: 24px;margin: 20px">
                        DR SUBMIT
                        <label id="drsubmit" style="padding-left:265px">0</label>
                    </div>
                    <div class="notifcount" style="font-weight: 600;font-size: 13px;line-height: 24px;margin: 20px">
                        DR APPROVE
                        <label id="drapprove" style="padding-left:255px">0</label>
                    </div>
                    <div class="notifcount" style="font-weight: 600;font-size: 13px;line-height: 24px;margin: 20px">
                        DR REVISE
                        <label id="drrevise" style="padding-left:270px">0</label>
                    </div>
                    <div class="notifcount" style="font-weight: 600;font-size: 13px;line-height: 24px;margin: 20px">
                        DR REJECTED
                        <label id="drreject" style="padding-left:248px">0</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>

