@{
    ViewBag.Title = "Dashboard";
}
<div class="box box-warning">
    <div class="box-body">
        <div class="content" style="background:white">
            <div class="row">
                <h4>Welcome to Supply Chain Information System</h4>
                <div class="portlet-body">
                    <table class="table table-bordered table-striped" id="tableToDoList"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts.app/Home/Index.ext.cshtml.js"></script>