@using App.Web
@{
    string StepName = ViewBag.StepName ?? "confirm";
    ViewBag.Title = "Detail Po No : 14500124422";
    Layout = "~/Views/Post/_Layout.cshtml";
    string Role = "";
    Role = User.Identity.GetUserRoles();
    int activeTab = (StepName == "confirm" ? 0 : (StepName == "Submit" ? 2 : 1));

    string isHO = Role.Substring(Role.Length - 4, 4);

}
<style type="text/css">
    .fontbold {
        font-family: SF UI Text;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
    }

    .fontnormal {
        font-family: SF UI Text;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
    }
    .addScroll {
        overflow-y: auto;
        height: 400px;
    }
</style>
<div class="modal fade" id="modalPopUpInvoice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 800px !important;">
        <div class="modal-content">
            <div class="modal-header text-left">
                <h4 class="modal-title w-100 font-weight-bold">Catatan Penting: </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="row fontnormal" style="margin-top:10px;">
                    <table id="tblPopUpInvoice" class="table table-striped">
                        <thead>                         
                            <tr>
                                <th scope="col" colspan="2" class="text-left">Supplier harus melakukan penagihan dengan dokumen yang benar dan lengkap dan diajukan paling lambat 90 hari kalendar sejak tanggal BAST/Surat Jalan ditandatangani Para Pihak. Jika lewat dari 90 hari kalendar, maka Trakindo hanya wajib membayar nilai Barang dan/atau Jasa yang sudah diterima sesuai ketentuan PO atau SPK tanpa membayar PPN atas tagihan tersebut </th>
                            </tr>
                            <tr>
                                <th scope="col" colspan="2" class="text-left">Persyaratan dokumen penagihan tersebut di bawah ini harus disusun sesuai no urut dokumen. Untuk dokumen asli / hardcopy tidak boleh menggunakan staples: </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="col" colspan="2" class="text-left">a. Invoice bermeterai cukup  </th>
                            </tr>
                            <tr>
                                <th scope="col" colspan="2" class="text-left">b. E-Faktur yang berlaku </th>
                            </tr>
                            <tr>
                                <th scope="col" colspan="2" class="text-left">c. Surat Jalan/BAST yang sudah ditandatangani Para Pihak dan stempel basah </th>
                            </tr>
                            <tr>
                                <th scope="col" colspan="2" class="text-left">d. Form Good Receipt (untuk pengadaan Barang) atau Form Service Acceptance (untuk pengadaan Jasa) yang di isi numeric menggunakan computer dan tidak menggunakan tulisan tangan, serta menggunakan kertas A4/Folio</th>
                            </tr>
                            <tr>
                                <th scope="col" colspan="2" class="text-left">e. Salinan Certificate of Payment (COP) yang telah ditandatangani (khusus untuk PO facility yang di badan PO tertera COP) </th>
                            </tr>
                            <tr>
                                <th scope="col" colspan="2" class="text-left">f. Salinan PO/SPK yang ditandatangan dan di stempel basah </th>
                            </tr>
                            <tr>
                                <th scope="col" colspan="2" class="text-left">g. Bukti bayar BPJS bulan sebelumnya (khusus untuk perjanjian jasa tenaga kerja/outsource)</th>
                            </tr>
                            <tr>
                                <th scope="col" colspan="2" class="text-left">h. Copy Jaminan Pelaksanaan (Jika ada);</th>
                            </tr>
                            <tr>
                                <th scope="col" colspan="2" class="text-left">i. Copy Surat Keterangan Bebas (SKB) bila Supplier/Vendor Bebas pemotongan PPH 23.</th>
                            </tr>
                            <tr>
                                <th scope="col" colspan="2" class="text-left">j. Copy Surat Usaha Jasa Konstruksi (SUJK) yang berlaku bila supplier/vendor bergerak di Perusahaan Konstruksi</th>
                            </tr>
                            <tr>
                                <th scope="col" colspan="2" class="text-left">k. Copy Surat Keterangan UMKM yang berlaku bila supplier/vendor bergerak di Perusahaan UMKM</th>
                            </tr>                           
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <input type="checkbox" id="chkagree"><label class="control-label col-xs-3" style="padding-left:10px"><strong>Perusahaan kami sudah mengerti dan menyetujui konsekuensi aturan main yang disebutkan di atas.</strong>  </label><br>
                </div>
            </div>
            <div class="modal-footer d-flex text-right">               
                <button class="btn btn-succes" data-dismiss="modal" onclick="SavePopup()"><i class="fa fa-arrow-right"></i> Agree</button> 
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalUploadInvoicing"  role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 1300px !important;">
        <div class="modal-content">
            <div class="modal-header text-left">
                <h4 class="modal-title w-100 font-weight-bold">Form Upload Invoice</h4>
              
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="modalUpload divUploadFile dropzone" id="FormUploadInvoice">
                </div>
                @*<div class="row " style="margin-top:20px;">
                    <label><b>Sebelum invoice di upload harap perhatikan hal berikut:</b></label>
                </div>*@
                <div class="row " style="margin-top:20px;font-size:14px">
                    <label>
                        <b>Sebelum invoice di upload harap perhatikan hal berikut:</b>
                        <br />
                        1. Untuk penamaan file softcopy invoice di POST, mohon menggunakan nomor invoice dan hindari penggunaan special karakter berikut: ( _ < > , .  ; ’)
                        <br />
                        2. File invoice yang di upload berupa (Form Qpay,Form GR,  Faktur Pajak, Form Kwitansi, Surat jalan/Bast, Copy PO) di compile menjadi 1 lampiran file pdf.
                        <br />
                        3. File Invoice dan dokumen pedukung lainnya yang di upload maksimal berukuran <b>2 MB (Megabyte).</b> 
                        <br />
                        <br />
                        Setelah softcopy invoice diupload silakan bapak/ibu Rekanan mengisi data/proses pengiriman hardcopy invoice di menu/features <b>" Submit Hardcopy Invoice "</b>
                        <br />
                        <br />
                        Pembayaran akan dilakukan akhir bulan berikutnya, terhitung dari tanggal upload invoice dan hardcopy invoice dikirim ke kami paling lambat tanggal 25 jam 11.30, (local time) dengan kondisi invoice sudah benar dan lengkap dan approve di POST. (jika tanggal 25 jatuh di hari libur, maka invoice paling lambat diupload dihari kerja sebelum tanggal 25).
                        <br />
                        <br />
                        Apabila pengiriman hardcopy invoice tidak kami terima dalam jangka waktu satu bulan kedepan, maka pembayaran akan ditunda oleh tim finance kami.
                    </label>
                </div>
               
                @*<div class="row " style="margin-top:20px;">
                    <label>Setelah softcopy invoice diupload silakan bapak/ibu Rekanan mengisi data/proses pengiriman hardcopy invoice di menu/features <b>" Submit Hardcopy Invoice "</b> </label>
                </div>
                <div class="row " style="margin-top:20px;">
                    <label>
                        Pembayaran akan dilakukan akhir bulan berikutnya, terhitung dari tanggal upload invoice dan hardcopy invoice dikirim ke kami paling lambat tanggal 25 jam 11.30, (local time) dengan kondisi invoice sudah benar dan lengkap dan approve di POST. (jika tanggal 25 jatuh di hari libur, maka invoice paling lambat diupload dihari kerja sebelum tanggal 25).
                    </label>
                </div>*@
                <div class="row" style="margin-top:20px;">
                    <div class="addScroll">
                        <table id="table-uploadInvoice" class="table table-bordered table-striped" style="background:white;"></table>
                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <p>Untuk Jasa, apakah ada surat keterangan tidak potong pajak PPH? </p>
                </div>
                <div class="row" style="margin-top:20px;">
                    <input type="radio" id="yespajak" name="pajak" value="YES"> Ya, (Silakan di upload dokumen bebas potong Pajak)

                </div>
                <div class="row" style="margin-top:20px;">
                    <input type="radio" id="nopajak" name="pajak" value="NO" checked> Tidak
                </div>
            </div>
            <div class="modal-footer d-flex text-right">
                <button class="btn btn-succes" id="BtnSaveInvoice"  onclick="SendEmailAttachment('Invoice')"><i class="fa fa-save"></i> Save And Close</button>
                @*<button class="btn btn-succes" id="BtnUpdateInvoice" data-dismiss="modal" onclick="UpdateInvoice()"><i class="fa fa-save"></i>Save</button>*@
                @if (Role.Contains("POSTFINANCE") || Role.Contains("POSTFINANCEBRANCH"))
                {
                    <button class="btn btn-succes" id="BtnRejectInvoice" data-dismiss="modal" onclick="SendEmailAttachment('Invoice')"><i class="fa fa-save"></i> Save And Close</button>
                }
                @*<button class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>*@
            </div>
        </div>
    </div>
</div>