@using App.Web
@{
    string Role = User.Identity.GetUserRoles();
}

<div class="modal fade" data-backdrop="false" id="modalEbupot" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="min-width:1000px;margin-top:80px" role="document">
        <div class="modal-content">
            <div class="modal-header text-left">
                <h4 class="modal-title w-100 font-weight-bold" id="titleEbupot"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-top:20px;">
                    <div class="col-md-12">
                        <input type="hidden" id="id" name="Id" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-form-label col-md-4">Nama Vendor</label>
                                    <div class="col-md-8">
                                        <select class="form-control input-sm select2" id="select2VendorModal">
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-md-4">NPWP Vendor</label>
                                    <div class="col-md-8">
                                        <input type="text" id="npwpVendorModal" name="NpwpVendorModal" class="form-control" style="border:1px solid #ccc!important;">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-md-4">NIK</label>
                                    <div class="col-md-8">
                                        <input type="text" id="nik" name="Nik" class="form-control" style="border:1px solid #ccc!important;">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-md-4">Tin</label>
                                    <div class="col-md-8">
                                        <input type="text" id="tin" name="Tin" class="form-control" style="border:1px solid #ccc!important;">
                                    </div>
                                </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-4">Cabang</label>
                                        <div class="col-md-8">
                                            @if (Role.Substring(Role.Length - 4, 4) == "POST") //HO
                                            {
                                                <select class="form-control input-sm select2" id="select2BranchModal">
                                                    <option></option>
                                                </select>
                                            }
                                            else
                                            {
                                                <select class="form-control input-sm select2" id="select2BranchModal2">
                                                    <option></option>
                                                </select>
                                            }
                                        </div>
                                    </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-md-4">Pembetulan</label>
                                    <div class="col-md-8">
                                        <input type="number" id="pembetulan" name="Pembetulan" class="form-control" style="border:1px solid #ccc!important;">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-8">
                                        <input type="file" accept=".pdf" class="form-control" name="FileUpload" id="FileUpload" style="border:1px dashed #ccc!important;" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-form-label col-md-4">Date</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            @*<input type="datetime" class="form-control" style="height: 36px;" id="SearchInputDate" placeholder="Please Choose Date Here" />*@

                                            <input type="text" name="Date" class="daterange form-control input-sm" id="dateModal" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-md-4">Masa Pajak</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <input type="text" name="MasaPajak" class="daterange form-control input-sm" id="masaPajakModal" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-md-4">Invoice No.</label>
                                    <div class="col-md-8">
                                        <input type="text" id="invoiceNoModal" name="InvoiceNoModal" class="form-control" style="border:1px solid #ccc!important;">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-md-4">No. Bukti Potong</label>
                                    <div class="col-md-8">
                                        <input type="text" id="noBuktiPotongModal" name="NoBuktiPotongModal" class="form-control" style="border:1px solid #ccc!important;">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-md-4">Kode</label>
                                    <div class="col-md-8">
                                        <input type="text" id="kode" name="Kode" class="form-control" style="border:1px solid #ccc!important;">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-md-4">Tarif</label>
                                    <div class="col-md-8">
                                        <input type="text" id="tarif" name="Tarif" class="form-control" style="border:1px solid #ccc!important;">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-md-4">Bruto</label>
                                    <div class="col-md-8">
                                        <input type="text" id="bruto" name="bruto" class="form-control" style="border:1px solid #ccc!important;">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-md-4">PPH</label>
                                    <div class="col-md-8">
                                        <input type="text" id="pph" name="PPH" class="form-control" style="border:1px solid #ccc!important;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex text-right">
                <button type="button" class="btn btn-primary" id="submit" onclick="submitForm()"><i class="fa fa-save"></i> Save</button>
                <button class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
            </div>
        </div>
    </div>
</div>