@{
    ViewBag.Title = "Parts List Management";
}

@using System.Web.Mvc

<style type="text/css">
    .form-horizontal .control-label {
        text-align: left !important;
    }
</style>
@{
    if (ViewBag.AllowDelete)
    {
        <input type="hidden" name="AllowDelete" id="AllowDelete" class="form-control" value="True">
    }

    if (ViewBag.AllowUpdate)
    {
        <input type="hidden" name="AllowUpdate" id="AllowUpdate" class="form-control" value="True">
    }
}
<div class="row">
    <div class="col-md-12">
        <div class="box box-warning">
            @*<div class="box-header"><h3 class="box-title">@ViewBag.Title</h3></div>*@
            <form role="form">
                <div class="box-body">

                    <div class="row">
                        <div class="col-lg-12">
                            @*<hr>*@
                            @*<div>
                                </div>*@
                            <div class="toolbar">
                                @{
                                    if (ViewBag.AllowCreate)
                                    {
                                        @*<button type="button" class="btn btn-warning" onclick="loadModal('/master/PartsListManagementCreate')" id="btnCreate" style="width:150px;">
                                            <i class="fa fa-plus"></i> Add Parts List
                                        </button>
                                        <a href="#" class="btn btn-info" onclick="document.getElementById('filexls').click(); return false" style="width:150px;">
                                            <i class="fa fa-upload"></i> Import/Upload
                                        </a>*@
                                        <a href="#" class="btn btn-info downloadExcel" style="width:150px;">
                                            <i class="fa fa-download"></i> Download to Excel
                                        </a>
                                        @*<a href="/temp/template-partList.xlsx" style="width:150px;" class="btn btn-info">
                                            <i class="fa fa-download"></i> Download Template
                                        </a>*@
                                    }
                                }
                                <div class="fa-pull-left" id="mySearch" style="padding-right:2px">
                                    <input name="searchText" class="form-control" type="text" placeholder="Search..." style="height: 32px;">
                                </div>
                            </div>
                            <table class="table table-bordered table2excel" data-response-handler="responseHandler" id="tablePartsList"></table>
                        </div>

                    </div>
                </div>
            </form>
            <form id="submitExcel" action="PartsListUploadExcel" method="post" enctype="multipart/form-data">
                <input type="file" id="filexls" name="upload" style="visibility: hidden;" onchange="$('#submitExcel').submit();" />

            </form>
        </div>
    </div>
</div>

@section scripts
{
    <script src="@Url.Content("~/Scripts/jquery.table2excel.js")"></script>
    <script src="@Url.Content("~/Scripts.app/Master/PartsListManagement.cshtml.js")"></script>
}