<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="myModalLabel">Status On Hand</h4>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="modal-body">
        <div class="col-lg-12">
            <div class="col-lg-12">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-2">RG Number</label>
                        <div class="col-md-8">
                            <input name="RGNumber" id="RGNumber" class="form-control" value="@ViewBag.RGNumber" disabled="disabled" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-tabs-custom nav-justified tabs-style-underline">
            <ul class="nav nav-justified nav-tabs "></ul>
        </div>

    </div>


    <div class="modal-footer">
        
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

    </div> 
}