<ul id="menu-cont" class="sidebar-menu iin" style="position:relative;width:350px;">
    <li class="header">MAIN NAVIGATION</li>
	<li class="treeview active"><a href="/"><i class="fa fa-home"></i>Home</a></li>
	<li class="treeview">
		<a href="#">
			<i class="fa fa-cogs"></i>
			<span>Part Tracking</span>
			<i class="fa fa-angle-left pull-right"></i>
		</a>
		<ul class="treeview-menu">
			<li class="">
				<a href="/partTracking/OrderThruCounters"><i class="fa fa-list-alt"></i>Order Thru Counter</a>
			</li>
		</ul>
	</li>

    <li id="logout">
        <a href="javascript:void(0);" onclick="return loadingPage('/sign-out')"><i class="fa fa-sign-out"></i><span>Log Off</span></a>
    </li>

</ul>
