<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <connectionStrings>
   
    <add name="pisConnection" connectionString="tuazvmdb01.tu.tmt.co.id;initial catalog=PartsInformationSystem;Connection Timeout=200;persist security info=True;user id=xxxxx;password=xxxxx;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="postConnection" connectionString="tuazvmdb01.tu.tmt.co.id;initial catalog=POST_APPS;Connection Timeout=200;persist security info=True;user id=xxxxxx;password=xxxxxx;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <appSettings>
    <!--<add key="userNameKPI" value="Ict.Development" />
    <add key="userEmailKPI" value="Ict.Development@trakindo.co.id" />
    <add key="passwordKPI" value="trakindo#1912" />
    <add key="ImagesData.document" value="D:/data/MailFromExchangeServer/" />-->
    <add key="userNamePOST" value="XXXXXX"/>
    <add key="userEmailPOST" value="XXXXXXX"/>
    <add key="passwordPOST" value="XXXXXX"/>
    <add key="ImagesData.document" value="D:/data/MailFromExchangeServer/"/>
    <add key="EmailItem" value="50"/>
    <add key="IsOffice365" value="1"/>
    <!--<add key ="Uri" value="https://mail.tmt.co.id/ews/Exchange.asmx"/>-->
    <add key="Uri" value="https://outlook.office365.com/owa/trakindo.co.id"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
