<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="connectionString" value="Data Source=tuazvmdb01.tu.tmt.co.id;Initial Catalog=POST_APPS;Persist Security Info=True;User ID=xxxxx;Password=xxxxx"/>
    <add key="filePath" value="C:\agus\Trakindo\SCIS\Development\SCIS\Internal\Parts Information System\Web\Upload\Ebupot"/>
    <add key="BASE_URL" value="http://10.2.2.71/"/>
    <add key="DariMasa" value="4"/>
    <add key="KeMasa" value=""/>
    <add key="TerakhirUpdateDariBulan" value="4"/>
    <add key="TerakhirUpdateDariTahun" value="2021"/>
    <add key="DariTahun" value="2021"/>
    <add key="KeTahun" value=""/>
    <add key="username" value="XXXXX"/>
    <add key="password" value="XXXXX"/>
  </appSettings>
</configuration>
