<div class="row">
    <div class="col-xs-12 table-responsive">
        <input type="hidden" name="IdTerm" id="IdTerm" value="@Model.Data.Id" />
        <table id="tableChangeHistory" data-toolbar=".toolbar" class="table table-bordered"></table>
    </div>
</div>