<style>
    .format-pre pre {
        background: #49483e;
        color: #f7f7f7;
        padding: 10px;
        font-size: 14px;
    }
</style>
<input type="hidden" id="hdnIdCipl" value="@ViewBag.IdCipl" />
<div class="row">
    <div class="col-md-12">
        <div class="tab box-warning" role="tabpanel" style="min-height:555px;box-shadow:none !important;background:none;">
            <form id="FormCipl">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#tab-task-cipl" aria-controls="home" role="tab" data-toggle="tab">CIPL</a>
                    </li>
                    <li role="presentation">
                        <a href="#tab-documents" aria-controls="home" role="tab" data-toggle="tab" style="z-index:7;">Documents</a>
                    </li>
                    <li role="presentation" class="hide" id="li-problem-cipl">
                        <a id="tab-problem-cipl" href="#tab-task-problem-cipl" aria-controls="ph" role="tab" data-toggle="tab">Problem History</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content tabs-custom">
                    <div role="tabpanel" class="tab-pane active" id="tab-task-cipl">
                        <div class="row mt-15">
                            <div class="col-lg-12">
                                <fieldset class="scheduler-border">
                                    <legend style="display: none;">&nbsp;</legend>
                                    <div class="col-lg-6">
                                        <div class="form-group hide">
                                            <label class="control-label col-lg-4 col-xs-4">ID</label>
                                            <div class="input-group col-lg-8 col-xs-8">
                                                <input type="text" class="form-control requestChange" id="idCipl" name="idCipl" placeholder="ID CIPL">
                                            </div>
                                        </div>
                                        <div class="form-group hide">
                                            <label class="control-label col-lg-4 col-xs-4">Status</label>
                                            <div class="input-group col-lg-8 col-xs-8">
                                                <input type="text" class="form-control requestChange" id="statusCipl" name="statusCipl" placeholder="ID CIPL">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-xs-4">CIPL No</label>
                                            <div class="input-group col-lg-8 col-xs-8">
                                                <input type="text" class="form-control requestChange" id="noCipl" name="noCipl" data-table="Cipl" data-name="CiplNo" data-lable="CIPL No" placeholder="Cipl No" disabled>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-xs-4" required>Category</label>
                                            <div class="input-group col-lg-8 col-xs-8">
                                                <select class="select2 requestChange" id="jenisBarangCipl" data-name="Category" data-table="Cipl" data-lable="Category" name="Category" required></select>
                                                <div class="categoryspareparts mt-4">
                                                    <select class="mt-4 " id="sparepartsCipl" name="sparepartsCipl" required></select>
                                                </div>
                                                <div class="categoryunit mt-4">
                                                    <select class="mt-4" id="unitCipl" name="unitCipl" required></select>
                                                </div>
                                                <div class="categorymisc mt-4">
                                                    <input type="text" class="form-control" id="permanentCipl" name="permanentCipl" placeholder="Keterangan" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-xs-4" required>Export Type</label>
                                            <div class="input-group col-lg-8 col-xs-8">
                                                <select class="select2" id="exportCipl" required></select>
                                                <div class="exportRemarks mt-4">
                                                    <select class="select2" id="exportremarksCipl" name="exportremarksCipl" data-table="Cipl" data-lable="Export Type" data-name="ExportTypeItem" required></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-xs-4">Date</label>
                                            <div class="input-group col-lg-8 col-xs-8">
                                                <input type="text" class="form-control" id="dateCipl" name="dateCipl" data-table="Cipl" data-name="dateCipl" data-lable="Date" placeholder="Date" disabled>
                                                <div class="input-group-addon cal" style="background: #00C0EF; border-color: #00ACD6;">
                                                    <i class="fa fa-calendar" style="color: #FFFFFF;"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" id="divReferenceNo">
                                            <label class="control-label col-lg-4 col-xs-4" required>Reference No</label>
                                            <div class="input-group">
                                                <select id="idCategoryReference" data-name="CategoryReference" data-table="Cipl" data-lable="Reference No" class="select2" required></select>
                                                <div class="input-group-addon" style="padding: 6px 1px !important;"></div>
                                                <div id="divRefCipl"><select id="refCipl" class="select2" data-table="Cipl" data-lable="Reference No" data-name="ReferenceNo" multiple="multiple" style="width: 100%;" required name="refCipl"></select></div>
                                            </div>
                                        </div>
                                        <div class="form-group div-idCustomerCipl">
                                            <label class="control-label col-lg-4 col-xs-4" required>Id Customer</label>
                                            <div class="input-group col-lg-8 col-xs-8">
                                                <input type="text" class="form-control" id="idCustomerCipl" data-lable="Id Customer" data-name="" name="idCustomerCipl" placeholder="Id Customer" disabled>
                                                @*<select id="idCustomerCipl"></select>*@
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-xs-4" required>Pickup Area</label>
                                            <div class="input-group col-lg-8 col-xs-8">
                                                <select id="idPickupArea" data-lable="Pickup Area" data-name="PickUpArea"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-xs-4" required>Pickup Pic</label>
                                            <div class="input-group col-lg-8 col-xs-8">
                                                <select id="idPickupPic" data-lable="Pickup Pic" data-name="PickUpPic"></select>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <hr style="margin-bottom: 15px; margin-top: 10px;">
                                <fieldset class="scheduler-border field-2">
                                    <legend style="display: none;">&nbsp;</legend>
                                    <div class="col-md-6 col-ship-to">
                                        <div class="form-group">
                                            <label class="col-lg-4 col-xs-4">&nbsp;</label>
                                            <div class="input-group col-lg-8 col-xs-8 offset-3">
                                                <select id="soldConsigneeCipl" data-lable="Cosignee" data-name="SoldConsignee" class="inpConsignee" required>
                                                    <option></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="div-sales-consignee">
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-xs-4" required>Name</label>
                                                <div class="input-group col-lg-8 col-xs-8">
                                                    <input type="text" class="form-control inpConsignee requestChange" data-lable="Name" data-name="SoldToName" id="consigneeNameCipl" name="consigneeNameCipl" placeholder="Consignee Name" required>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-xs-4" required>Address</label>
                                                <div class="input-group col-lg-8 col-xs-8">
                                                    <textarea type="text" class="form-control inpConsignee requestChange" data-lable="Address" data-name="SoldToAddress" id="consigneeAddressCipl" name="consigneeAddressCipl" placeholder="Address" required></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-xs-4" required>Country</label>
                                                <div class="input-group col-lg-8 col-xs-8">
                                                    @*<input type="text" class="form-control inpConsignee requestChange" data-lable="Country" data-name="SoldToCountry" id="consigneeCountryCipl" name="consigneeCountryCipl" placeholder="Country" required></select>*@
                                                    @*<select class="select2 requestChange" data-name="SoldToCountry" data-lable="Country" id="consigneeCountryCipl" name="consigneeCountryCipl" placeholder="Country"></select>*@
                                                    <select class="select2 requestChange" data-name="SoldToCountry" data-lable="Country" id="consigneeCountryCipl" name="consigneeCountryCipl" placeholder="Country"></select>

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-xs-4" required>Telephone</label>
                                                <div class="input-group col-lg-8 col-xs-8">
                                                    <input type="text" class="form-control inpConsignee requestChange" data-lable="Telephone" data-name="SoldToTelephone" id="consigneeTelpCipl" name="consigneeTelpCipl" placeholder="Telephone" required>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-xs-4" required>Fax</label>
                                                <div class="input-group col-lg-8 col-xs-8">
                                                    <input type="text" class="form-control inpConsignee requestChange" data-lable="Fax" data-name="SoldToFax" id="consigneeFaxCipl" name="consigneeFaxCipl" placeholder="Fax" required>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-xs-4" required>Pic</label>
                                                <div class="input-group col-lg-8 col-xs-8">
                                                    <input type="text" class="form-control inpConsignee requestChange" data-lable="Pic" data-name="SoldToPic" id="consigneePicCipl" name="consigneePicCipl" placeholder="PIC" required>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-xs-4" required>Email</label>
                                                <div class="input-group col-lg-8 col-xs-8">
                                                    <input type="text" class="form-control inpConsignee requestChange" data-lable="Email" data-name="SoldToEmail" id="consigneeEmailCipl" name="consigneeEmailCipl" placeholder="Email" required>
                                                    <label style="color:blue">*If multiple emails, please separate using the sign (;)</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-notify-party">
                                        <div class="form-group">
                                            <label class="col-lg-4 col-xs-4">&nbsp;</label>
                                            <div class="input-group col-lg-8 col-xs-8 offset-3">
                                                <select id="shipDeliveryCipl" data-lable="Delivery type" data-name="ShipDelivery" class="inpConsignee requestChange" required>
                                                    <option></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="col-md-4">&nbsp;</div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group">
                                                        <div id="div-radio-notify" class="btn-group btn-group-justified">
                                                            <span class="btn btn-default btn-sm notactive-notify notifySameCipl" data-toggle="notifychange" data-value="L" data-active="btn-success" data-notactive-notify="btn-default">Same As</span>
                                                            <span class="btn btn-default btn-sm notactive-notify notifyDifferentCipl" data-toggle="notifychange" data-value="D" data-active="btn-info" data-notactive-notify="btn-default">Different</span>
                                                        </div>
                                                        <input type="hidden" name="NotifyPartySameConsignee" id="NotifyPartySameConsignee" data-name="NotifyPartySameConsignee" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="notify">
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-xs-4">Name</label>
                                                <div class="input-group col-lg-8 col-xs-8">
                                                    <input type="text" class="form-control inpNotify requestChange" data-lable="Notify Name" data-name="NotifyName" id="notifyNameCipl" placeholder="Consignee Name" name="notifyNameCipl" required>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-xs-4">Address</label>
                                                <div class="input-group col-lg-8 col-xs-8">
                                                    <textarea type="text" class="form-control inpNotify requestChange" data-lable="Notify Address" data-name="NotifyAddress" id="notifyAddressCipl" placeholder="Address" name="notifyAddressCipl" required></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-xs-4">Country</label>
                                                <div class="input-group col-lg-8 col-xs-8">
                                                    @*<select type="text" class="form-control inpNotify requestChange" data-lable="Notify Country" data-name="NotifyCountry" id="notifyCountryCipl" placeholder="Country" name="notifyCountryCipl" required></select>*@
                                                    <select class="select2 requestChange" data-name="NotifyCountry" data-lable="Notify Country" id="notifyCountryCipl" name="notifyCountryCipl" placeholder="Country1"></select>

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-xs-4">Telephone</label>
                                                <div class="input-group col-lg-8 col-xs-8">
                                                    <input type="text" class="form-control inpNotify requestChange" data-lable="Notify Telephone" data-name="NotifyTelephone" id="notifyTelpCipl" placeholder="Telephone" name="notifyTelpCipl" required>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-xs-4">Fax</label>
                                                <div class="input-group col-lg-8 col-xs-8">
                                                    <input type="text" class="form-control inpNotify requestChange" data-lable="Notify Fax" data-name="NotifyFax" id="notifyFaxCipl" placeholder="Fax" name="notifyFaxCipl" required>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-xs-4">Pic</label>
                                                <div class="input-group col-lg-8 col-xs-8">
                                                    <input type="text" class="form-control inpNotify requestChange" data-lable="Notify Pic" data-name="NotifyPic" id="notifyPicCipl" placeholder="PIC" name="notifyPicCipl" required>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-xs-4">Email</label>
                                                <div class="input-group col-lg-8 col-xs-8">
                                                    <input type="text" class="form-control inpNotify requestChange" data-lable="Notify Email" data-name="NotifyEmail" id="notifyEmailCipl" placeholder="Email" name="notifyEmailCipl" required>
                                                    <label style="color:blue">*If multiple emails, please separate using the sign (;)</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </fieldset>
                                <hr style="margin-bottom: 15px; margin-top: 10px;">
                                <fieldset class="scheduler-border">
                                    @*<legend class="scheduler-border"></legend>*@
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-xs-4" required>Plant (Business Area)</label>
                                            <div class="input-group col-lg-8 col-xs-8">
                                                <select class="select2 requestChange" id="areaCipl" data-lable="Plant (Business Area)" data-name="Area" name="areaCipl" required><option></option></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-xs-4" required>Branch</label>
                                            <div class="input-group col-lg-8 col-xs-8">
                                                <input type="text" class="form-control requestChange" data-lable="Branch" data-name="Branch" id="cabangCipl" name="cabangCipl" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-xs-4" required>Consolidate</label>
                                            <div class="input-group col-lg-8 col-xs-8">
                                                <select class="select2 requestChange" id="ConsolidateCipl" data-lable="Consolidate" data-name="Consolidate" name="ConsolidateCipl" required>
                                                    <option></option>
                                                    <option value=true>Yes</option>
                                                    <option value=false>No</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-xs-4" required>Currency</label>
                                            <div class="input-group col-lg-8 col-xs-8">
                                                <select class="select2 requestChange" id="currencyCipl" data-lable="Currency" data-name="Currency" name="currencyCipl" required><option></option></select>
                                                @*<input type="text" class="form-control select2" id="currencyCipl" name="currencyCipl" placeholder="Currency" required>*@
                                            </div>
                                        </div>
                                        <div class="form-group hide">
                                            <label class="control-label col-lg-4 col-xs-4">Lastest Kurs in USD</label>
                                            <div class="input-group col-lg-8 col-xs-8">
                                                <input type="text" class="form-control select2 requestChange" data-lable="Lastest Kurs in USD" data-name="Rate" id="RateCipl" name="RateCipl" placeholder="Kurs" required disabled>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-xs-4" required>Payment Terms</label>
                                            <div class="input-group col-lg-8 col-xs-8">
                                                <select class="select2 requestChange" data-name="PaymentTerms" data-lable="Payment Terms" name="paymentCipl" id="paymentCipl" required></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-xs-4" required>Shipping Method</label>
                                            <div class="input-group col-lg-8 col-xs-8">
                                                <select class="select2 requestChange" data-name="ShippingMethod" data-lable="Shipping Method" id="shippingCipl" name="shippingCipl" required></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-xs-4">Country Of Origin</label>
                                            <div class="input-group col-lg-8 col-xs-8">
                                                <select class="select2 requestChange" data-name="CountryOfOrigin" data-lable="Country Of Origin" id="countryCipl" name="countryCipl"></select>
                                            </div>
                                        </div>
                                        <div class="form-group divStatusEdit">
                                            <label class="control-label col-lg-4 col-xs-4">Loading Port</label>
                                            <div class="input-group col-lg-8 col-xs-8">
                                                <select class="select2 requestChange" data-name="LoadingPort" data-lable="Loading Por" id="loadingCipl" name="loadingCipl"></select>
                                            </div>
                                        </div>
                                        <div class="form-group divStatusEdit">
                                            <label class="control-label col-lg-4 col-xs-4">Destination Port</label>
                                            <div class="input-group col-lg-8 col-xs-8">
                                                <select class="select2 requestChange" data-name="DestinationPort" data-lable="Destination Port" id="destinationCipl" name="destinationCipl"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-xs-4" required>LC No & Date</label>
                                            <div class="input-group col-lg-8 col-xs-8">
                                                <div class="input-group double-input">
                                                    <input type="text" class="form-contro requestChangel" id="lcnoCipl" data-lable="LC No & Date" name="lcnoCipl" placeholder="LC No & Date" required style="width: 75%; border-right-width: 0px;">
                                                    <input type="text" class="form-control date requestChange" id="lcDateCipl" name="lcDateCipl" placeholder="Date" style="width: 25%; border-right-width: 0px;">
                                                    <div class="input-group-addon cal" style="background:#00C0EF;border-color:#00ACD6;">
                                                        <i class="fa fa-calendar" style="color:#FFFFFF;"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-xs-4" required>Inco Terms</label>
                                            <div class="input-group col-lg-8 col-xs-8">
                                                <select class="select2 requestChange" data-name="IncoTerm" data-lable="Inco Terms" id="incoCipl" required>
                                                    <option></option>
                                                </select>
                                                <div class="descriptionIncoTerms" style="line-height: 17px;" required></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-xs-4" required>Freight Payment</label>
                                            <div class="input-group col-lg-8 col-xs-8">
                                                <select class="select2 requestChange" data-name="FreightPayment" id="freightCipl" data-lable="Freight Payment" name="freightCipl" required></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-xs-4" required>Customs Facility Area</label>
                                            <div class="input-group col-lg-8 col-xs-8" id="ActType/">
                                                <select class="select2 requestChange" data-name="Type" id="typeCipl" data-lable="Type" name="typeCipl" required></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-xs-4" required>Export Shipment Type</label>
                                            <div class="input-group col-lg-8 col-xs-8">
                                                <select class="select2 requestChange" id="ExportShipmentType" data-lable="ExportShipmentType" data-name="ExportShipmentType" name="ExportShipmentType" required>
                                                    <option value="NonPJT">Non PJT</option>
                                                    <option value="PJT">PJT</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-xs-4" required>Forwarder</label>
                                            <div class="input-group col-lg-8 col-xs-8" id="ActForwader/">
                                                <select class="select2 requestChange" data-name="Forwader" data-lable="Forwarder" id="forwaderCipl" name="forwaderCipl" required></select>
                                            </div>
                                        </div>

                                        <div class="form-group divCkbBranchCipl">
                                            <label class="control-label col-lg-4 col-xs-4" required>Branch Ckb</label>
                                            <div class="input-group col-lg-8 col-xs-8">
                                                <select id="CkbBranchCipl" data-name="Branch" name="CkbBranchCipl" data-lable="Branch Ckb" class="select2 requestChange" required style="width:100%;"></select>
                                            </div>
                                        </div>
                                        <div class="form-group forwaderCompanyCipl">
                                            <label class="control-label col-lg-4 col-xs-4" required>Company Name</label>
                                            <div class="input-group col-lg-8 col-xs-8">
                                                <input type="text" class="form-control requestChange" data-name="Company" data-lable="Company Name" id="forwaderCompanyCipl" placeholder="Company Name" value="PT.Cipta Krida Bahari" required>
                                            </div>
                                        </div> 
                                        <div class="form-group forwaderForwadingCipl">
                                            <label class="control-label col-lg-4 col-xs-4" required>Subcon Company</label>
                                            <div class="input-group col-lg-8 col-xs-8">
                                                <select id="forwaderForwadingCipl" data-name="SubconCompany" name="forwaderForwadingCipl" data-lable="Subcon Company" class="select2 requestChange" required style="width:100%;" placeholder="Please Select Subcon Company"></select>
                                                @*<input type="text" class="form-control requestChange" data-name="SubconCompany" data-lable="Subcon Company" id="forwaderForwadingCipl" placeholder="Subcon Company" required>*@
                                            </div>
                                        </div>
                                        <div class="form-group hidden forwaderVendorCipl">
                                            <label class="control-label col-lg-4 col-xs-4" required>Vendor</label>
                                            <div class="input-group col-lg-8 col-xs-8">
                                                <select id="forwaderVendorCipl" data-name="Vendor" name="Vendor" data-lable="Vendor" class="select2 requestChange" required style="width:100%;" placeholder="Please Select Vendor">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group forwaderAddressCipl">
                                            <label class="control-label col-lg-4 col-xs-4" required>Address</label>
                                            <div class="input-group col-lg-8 col-xs-8">
                                                <textarea type="text" class="form-control requestChange" data-name="Address" data-lable="Address" id="forwaderAddressCipl" placeholder="Address" required></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group forwaderAreaCipl">
                                            <label class="control-label col-lg-4 col-xs-4" required>Area</label>
                                            <div class="input-group col-lg-8 col-xs-8">
                                                <input type="text" class="form-control requestChange" data-name="Area" data-lable="Area" id="forwaderAreaCipl" placeholder="Area" required>
                                            </div>
                                        </div>
                                        <div class="form-group forwaderCityCipl">
                                            <label class="control-label col-lg-4 col-xs-4" required>City</label>
                                            <div class="input-group col-lg-8 col-xs-8">
                                                <input type="text" class="form-control requestChange" data-name="City" data-lable="City" id="forwaderCityCipl" placeholder="City" required>
                                            </div>
                                        </div>
                                        <div class="form-group forwaderContactCipl">
                                            <label class="control-label col-lg-4 col-xs-4" required>Postal Code</label>
                                            <div class="input-group col-lg-8 col-xs-8">
                                                <input type="text" class="form-control requestChange" data-name="PostalCode" data-lable="Postal Code" id="forwaderPostalCodeCipl" placeholder="Postal Code" required>
                                            </div>
                                        </div>
                                        <div class="form-group forwaderContactCipl">
                                            <label class="control-label col-lg-4 col-xs-4" required>Contact Number</label>
                                            <div class="input-group col-lg-8 col-xs-8">
                                                <input type="text" class="form-control requestChange" data-name="Contact" data-lable="Contact Number" id="forwaderContactCipl" placeholder="Contact" required>
                                            </div>
                                        </div>
                                        <div class="form-group forwaderFaxCipl">
                                            <label class="control-label col-lg-4 col-xs-4" required>Fax Number</label>
                                            <div class="input-group col-lg-8 col-xs-8">
                                                <input type="text" class="form-control requestChange" data-name="FaxNumber" data-lable="Fax Number" id="forwaderFaxCipl" placeholder="Fax" required>
                                            </div>
                                        </div>
                                        <div class="form-group forwaderAttentionCipl">
                                            <label class="control-label col-lg-4 col-xs-4" required>Attention</label>
                                            <div class="input-group col-lg-8 col-xs-8">
                                                <input type="text" class="form-control requestChange" data-name="Attention" data-lable="Attention" id="forwaderAttentionCipl" placeholder="Attention" required>
                                            </div>
                                        </div>
                                        <div class="form-group forwaderEmailCipl">
                                            <label class="control-label col-lg-4 col-xs-4" required>Email</label>
                                            <div class="input-group col-lg-8 col-xs-8">
                                                <input type="text" class="form-control requestChange" data-name="Email" data-lable="Email" id="forwaderEmailCipl" placeholder="Email" required>
                                                <label style="color:blue">*If multiple emails, please separate using the sign (;)</label>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="scheduler-border">
                                    <div class="form-group">
                                        <div>
                                            <div class="tableItemSpareparts">
                                                <div class="toolbarParts">
                                                    <button type="button" class="btn btn-success btn-md btnAddItem" data-toggle="modal" data-target="#ModalAddNewReference" id="partAddButton" style="min-width:120px;" value="Add"><i class="fa fa-plus-circle"></i> ADD NEW</button>
                                                    <button type="button" class="btn btn-success btn-md btnAddItem" data-toggle="modal" data-target="#ModaldownloadTemplate" id="partDownloadTemplate" onClick="window.location.href='/Content/EMCS/Templates/CIPLItem/TemplateCatepillarSparePart.xlsx'" style="min-width:120px;" value="DownloadTemplate"><i class="fa fa-plus-circle"></i> DOWNLOAD TEMPLATE</button>
                                                    <button type="button" class="btn btn-success btn-md btnAddItem" data-toggle="modal" data-target="#ModaldownloadFile" id="partDownloadFile" style="min-width:120px;display :none" value="DownloadFile"><i class="fa fa-plus-circle"></i> DOWNLOAD FILE</button>
                                                    @*<button type="button" class="btn btn-success btn-md btnAddItem" data-toggle="modal" data-target="#ModaldownloadFile" id="submit" style="min-width:120px" value="UploadFile"><i class="fa fa-plus-circle"></i> UPLOAD FILE</button>*@
                                                </div>
                                                <div class="col-md-12">

                                                    <div class="col-md-4">
                                                        <div class="row text-center divUploadFile dropzone" style="border: 1px dotted; font-style:italic; color:#808080; font-size:inherit" title="Drop the Import File Here or Click this Section for Browse the Import File." id="partUploadFile">
                                                        </div>
                                                    </div>
                                                    <div id="template-dropzone" class="hidden">
                                                        <div id="template" class="file-row text-left" style="padding:20px;">
                                                            <!-- This is used as the file preview template -->
                                                            <div class="col-md-2">
                                                                <div class="row">
                                                                    <span class="preview">
                                                                        <img alt="Excel Icon" style="width:65%;height:auto;" src="~/Images/EMCS/excel.png">
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <p class="name" data-dz-name></p>
                                                                <strong class="error text-danger" data-dz-errormessage></strong>
                                                            </div>
                                                            <div class="col-md-10">
                                                                <div class="row">
                                                                    <p class="size" data-dz-size></p>
                                                                    <div class="row">
                                                                        <div class="col-md-8">
                                                                            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                                                                <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <span data-dz-uploadprogress id="progressPercent"></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <table class="table table-bordered" data-toolbar=".toolbarParts" id="tablepartCipl"></table>

                                            </div>
                                            <div class="tableItemUnit">
                                                <div class="toolbarUnit">
                                                    <button type="button" class="btn btn-success btn-md btnAddItem" data-toggle="modal" data-target="#ModalAddNewReference" id="unitAddButton" style="min-width:120px;" value="Add"><i class="fa fa-plus-circle"></i> ADD NEW</button>
                                                </div>
                                                <table class="table table-bordered" data-toolbar=".toolbarUnit" id="tableunitCipl"></table>
                                            </div>
                                            <div class="tableItemMisc">
                                                <div class="toolbarMisc">
                                                    <button type="button" class="btn btn-success btn-md" data-toggle="modal" data-target="#ModalUpdateReference" id="miscAddButton" style="min-width:120px;" value="Add"><i class="fa fa-plus-circle"></i> ADD NEW</button>
                                                </div>
                                                <table class="table table-bordered" data-toolbar=".toolbarMisc" id="tablemiscCipl"></table>
                                            </div>
                                            <div class="tableItemEmail">
                                                <div class="toolbarEmail">
                                                    <button type="button" class="btn btn-success btn-md" data-toggle="modal" data-target="#ModalUpdateReference" id="emailAddButton" style="min-width:120px;" value="Add"><i class="fa fa-plus-circle"></i> ADD NEW</button>
                                                </div>
                                                <table class="table table-bordered" data-toolbar=".toolbarEmail" id="tableemailCipl"></table>
                                            </div>
                                        </div>
                                    </div>
                                    @if (ViewBag.IsImexUser && ViewBag.CanRequestForChange)
                                    {
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="">
                                                    <div class="fa-pull-left" style="padding-right:2px">
                                                        <h4>Requested change</h4>
                                                    </div>
                                                </div>
                                                <table class="table table-bordered" data-toolbar=".toolbarEmail" id="table_RequestChangeItem"></table>
                                            </div>
                                        </div>
                                    }
                                    <br />
                                    <div class="col-md-6 tableItem">
                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-xs-4">Shipping Mark & Nos <span class="text-danger">*</span></label>
                                            <div class="input-group col-lg-8 col-xs-8">
                                                <textarea type="text" rows="7" class="form-control requestChange" data-lable="Shipping Mark & Nos" data-name="ShippingMarks" id="shippingMarkCipl" name="shippingMarkCipl" placeholder="Marks & Nos" required></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-xs-4">Special Instruction <span class="text-danger">*</span></label>
                                            <div class="input-group col-lg-8 col-xs-8">
                                                <textarea type="text" rows="7" class="form-control requestChange" data-lable="Special Instruction" data-name="SpecialInstruction" id="txtSpecialInscCipl" name="txtSpecialInscCipl" placeholder="Special Instruction" required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 tableItem">
                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-xs-4">Total Quantity</label>
                                            <div class="input-group col-lg-8 col-xs-8">
                                                <input type="text" class="form-control" id="quantityCipl" name="quantityCipl" placeholder="Quantity" disabled>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-xs-4">Total Collies / Package</label>
                                            <div class="input-group col-lg-8 col-xs-8">
                                                <input type="text" class="form-control" id="colliesCipl" name="colliesCipl" placeholder="Collies" disabled>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-xs-4">Total Volume</label>
                                            <div class="input-group col-lg-8 col-xs-8">
                                                <input type="text" class="form-control" id="volumeCipl" name="volumeCipl" placeholder="Volume" disabled>
                                                <div class="input-group-addon" style="width: 50px; background:#00C0EF;border-color:#00ACD6; color:white;">m3</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-xs-4">Total Net Weight</label>
                                            <div class="input-group col-lg-8 col-xs-8">
                                                <input type="text" class="form-control decimal" id="weightCipl" name="weightCipl" placeholder="Weight" disabled>
                                                <div class="input-group-addon" style="width: 50px; background:#00C0EF;border-color:#00ACD6; color:white;">KGs</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-xs-4">Total Gross Weight</label>
                                            <div class="input-group col-lg-8 col-xs-8">
                                                <input type="text" class="form-control requestChange" id="grossCipl" name="grossCipl" placeholder="Gross" disabled>
                                                <div class="input-group-addon" style="width: 50px; background:#00C0EF;border-color:#00ACD6; color:white;">KGs</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-4 col-xs-4">Remarks</label>
                                            <div class="input-group col-lg-8 col-xs-8">
                                                <textarea type="text" rows="5" class="form-control" data-name="Remarks" id="remarksCipl" name="remarksCipl" placeholder="Remarks" required disabled></textarea>
                                            </div>
                                        </div>
                                        <br /><br />
                                    </div>
                                </fieldset>
                                <div class="form-group pull-right">
                                    <div class="col-md-12">
                                        @if (!ViewBag.IsApprover)
                                        {
                                            <a href="~/EMCS/CiplList" class="btn btn-warning" style="min-width:120px;"><i class="fa fa-arrow-left"></i>&nbsp;Back</a>

                                            if (ViewBag.IsImexUser && ViewBag.CanRequestForChange)
                                            {
                                                <button type="button" hidden class="btn btn-info" id="RequestForChangeHistoryCIPL" style="min-width:120px;"><i class='fa fa-save'></i>&nbsp;Request for change history</button>
                                            }
                                            else
                                            {
                                                if (ViewBag.IsOwned == true)
                                                {
                                                    <button class="btn btn-info" id="btnSaveCipl" value="Draft" style="min-width:120px;"><i class='fa fa-save'></i>&nbsp;Save as Draft</button>

                                                    <button type="button" class="btn btn-success" id="btnSubmitCipl" value="Submit" style="min-width:120px;"><i class="fa fa-paper-plane"></i>&nbsp;Submit</button>
                                                }
                                                else if (ViewBag.CanRequestForChange)
                                                {
                                                    <button class="btn btn-info" id="btnSaveCipl" value="Draft" style="min-width:120px;"><i class='fa fa-save'></i>&nbsp;Save as Draft</button>

                                                }
                                            }
                                        }
                                        else
                                        {
                                            <div class="" role="group">
                                                <button type="button" class="btn btn-success" value="ApproveAndSave" id="btnApprove"><i class="fa fa-paper-plane"></i> Save changes & Approve</button>
                                                <a href="/emcs/mytask" class="btn btn-primary"><i class="fa fa-times"></i> Cancel</a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab-documents">
                        <div class="row">
                            <div class="col-xs-12 table-responsive">
                                <div class="toolbarDocument" id="toolbarDocument">
                                    <button type="button" class="btn btn-success btn-md btnAddItem" data-toggle="modal" data-target="#myModalDocument" id="documentAddButton" style="min-width:120px;" value="Add"><i class="fa fa-plus-circle"></i> ADD NEW</button>
                                </div>
                                <table id="tableCiplFormDocuments" data-toolbar=".toolbarDocument" class="table table-bordered"></table>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab-task-problem-cipl">
                        <div class="mt-15 table-responsive">
                            <table id="tableCiplProblemHistory" data-toolbar=".toolbar" class="table table-bordered"></table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="myModalDocument" class="modal fade in" role="dialog">
    <div class="modal-dialog modal-lg" style="width:800px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title-document">Add Document</h4>
            </div>
            <form id="FormDocument">
                <div class="modal-body">
                    <div class="row" id="formeditreference">
                        <div class="col-lg-12">
                            <div class="form-group hidden">
                                <label class="control-label col-md-3 col-xs-12">IdDocument</label>
                                <div class="input-group col-md-9 col-xs-12">
                                    <input type="text" class="form-control" id="IdDocument" name="IdDocument">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-xs-12">Document Date</label>
                                <div class="input-group col-md-9 col-xs-12">
                                    <span class="input-group-addon cal-doc-date"><i class="glyphicon glyphicon-calendar"></i></span>
                                    <input class="form-control date required" id="inp-doc-date" name="inp-doc-date" placeholder="Date" style="background:white;" value="@DateTime.Now.ToString("dd MMM yyyy")">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-xs-12">Document Name</label>
                                <div class="input-group col-md-9 col-xs-12">
                                    <input type="text" class="form-control" id="DocumentName" name="DocumentName">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btnAddDocument" data-dismiss="modal" id="btnAddDocument" style="min-width:120px;"><i class="fa fa-pencil"></i> Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id='myModalUploadPlace' class='modal fade in'>
    <div class="modal-dialog" style="width:800px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"><i class="fa fa-edit"></i>&nbsp;Upload File Document</h4>
                <h5 class="modal-title"><i class="fa fa-info"></i>&nbsp;&nbsp;Maximum size of file allowed is 2 MB</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row text-center divUploadFile dropzone" id="FormUploadDocumentContainer">
                        </div>
                    </div>
                    <div class="form-group hidden">
                        <label class="control-label col-md-3 col-xs-12">IdDocument</label>
                        <div class="input-group col-md-9 col-xs-12">
                            <input type="text" class="form-control" id="IdDocumentUpload" name="IdDocumentUpload">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

            <div id="template-dropzone" class="hidden">
                <div id="template" class="file-row text-left" style="padding:20px;">
                    <!-- This is used as the file preview template -->
                    <div class="col-md-2">
                        <div class="row">
                            <span class="preview">
                                <img alt="Data Thumbnail" style="width:65%;height:auto;" data-dz-thumbnail>
                            </span>
                        </div>
                    </div>
                    <div>
                        <p class="name" data-dz-name></p>
                        <strong class="error text-danger" data-dz-errormessage></strong>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <p class="size" data-dz-size></p>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                        <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <span data-dz-uploadprogress id="progressPercent"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id='myModalUploadPreview' class='modal fade in'>
    <div class="modal-dialog" style="width:800px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"><i class="fa fa-edit"></i>&nbsp;Preview File Document</h4>
            </div>
            <div class="modal-body">
                <div class="form-group hidden">
                    <label class="control-label col-md-3 col-xs-12">IdDocument</label>
                    <div class="input-group col-md-9 col-xs-12">
                        <input type="text" class="form-control" id="IdDocument" name="IdDocument">
                    </div>
                </div>
                <div class="form-group hidden">
                    <label class="control-label col-md-3 col-xs-12">Filename</label>
                    <div class="input-group col-md-9 col-xs-12">
                        <input type="text" class="form-control" id="Filename" name="Filename">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <iframe title="File Name Cipl File" id="framePreview" name="framePreview" src="" style="width:100%;height:800px;"></iframe>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="ModalAddNewReference" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Data Sales Order</h4>
            </div>
            <div class="modal-body">
                <form id="FormAddReference">
                    <div class="row" id="FormOldCore">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-lg-4 col-xs-4">Packaging Type</label>
                                <div class="input-group col-lg-8 col-xs-8">
                                    <select class="select2" name="PackagingTypeParts" id="PackagingTypeParts" required></select>
                                </div>
                            </div>
                            <div class="form-group" id="div-CaseNumberParts">
                                <label class="control-label col-lg-4 col-xs-4">Case Number</label>
                                <div class="input-group col-lg-8 col-xs-8">
                                    <input type="text" class="form-control" id="CaseNumberParts" name="CaseNumberParts" placeholder="Case Number" required>
                                </div>
                            </div>
                            <div class="form-group" id="div-ASNNumberParts">
                                <label class="control-label col-lg-4 col-xs-4">ASN Number</label>
                                <div class="input-group col-lg-8 col-xs-8">
                                    <input type="text" class="form-control" id="ASNNumberParts" name="ASNNumberParts" placeholder="ASN Number" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-lg-4 col-xs-4">Length</label>
                                <div class="input-group col-lg-8 col-xs-8">
                                    <input type="text" class="form-control SumVolumenOldCore decimal" id="LengthParts" name="LengthParts" placeholder="Length" value="0">
                                    <div class="input-group-addon" style="width: 50px; background:#00C0EF;border-color:#00ACD6; color:white;">cm</div>
                                </div>
                            </div>
                            <div class="form-group" id="div-WidthParts">
                                <label class="control-label col-lg-4 col-xs-4">Width</label>
                                <div class="input-group col-lg-8 col-xs-8">
                                    <input type="text" class="form-control SumVolumenOldCore decimal" id="WidthParts" name="WidthParts" placeholder="Width" value=0>
                                    <div class="input-group-addon" style="width: 50px; background:#00C0EF;border-color:#00ACD6; color:white;">cm</div>
                                </div>
                            </div>
                            <div class="form-group" id="div-HeightParts">
                                <label class="control-label col-lg-4 col-xs-4">Height</label>
                                <div class="input-group col-lg-8 col-xs-8">
                                    <input type="text" class="form-control SumVolumenOldCore decimal" id="HeightParts" name="HeightParts" placeholder="Height" value=0>
                                    <div class="input-group-addon" style="width: 50px; background:#00C0EF;border-color:#00ACD6; color:white;">cm</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" id="div-VolumeParts">
                                <label class="control-label col-lg-4 col-xs-4">Volume</label>
                                <div class="input-group col-lg-8 col-xs-8">
                                    <input type="text" class="form-control decimal" id="VolumeParts" name="VolumeParts" placeholder="Volume" disabled value=0>
                                    <div class="input-group-addon" style="width: 50px; background:#00C0EF;border-color:#00ACD6; color:white;">m3</div>
                                </div>
                            </div>
                            <div class="form-group" id="div-GrossWeightParts">
                                <label class="control-label col-lg-4 col-xs-4">Gross Weight</label>
                                <div class="input-group col-lg-8 col-xs-8">
                                    <input type="text" class="form-control decimal" id="GrossWeightParts" name="GrossWeightParts" placeholder="Gross Weight" value=0>
                                    <div class="input-group-addon" style="width: 50px; background:#00C0EF;border-color:#00ACD6; color:white;">KGs</div>
                                </div>
                            </div>
                            <div class="form-group" id="div-NetWeightParts">
                                <label class="control-label col-lg-4 col-xs-4">Net Weight</label>
                                <div class="input-group col-lg-8 col-xs-8">
                                    <input type="text" class="form-control decimal" id="NetWeightParts" name="NetWeightParts" placeholder="Net Weight" value=0>
                                    <div class="input-group-addon" style="width: 50px; background:#00C0EF;border-color:#00ACD6; color:white;">KGs</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="toolbar-reference" class="toolbar-reference hide">
                        <form class="form-inline" id="FormSearchReference">
                            <div class="form-group">
                                <label class="sr-only">Search By</label>
                                <select class="form-control" id="Column" required>
                                    <option value="">-- Please Select Search By Column --</option>
                                    <option value="JCode">JCode</option>
                                    <option value="PartNumber">Part Number</option>
                                    <option value="UnitSN">Unit SN</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Search Number / Name</label>
                                <input type="text" class="form-control" id="ColumnValue" placeholder="Number / Name" required>
                            </div>
                            <button type="button" id="BtnSearchReference" class="btn btn-success" style="margin-bottom: 4px; height: 32px;">Filter</button>
                        </form>
                    </div>
                    <table class="table table-bordered" id="tablereference" data-maintain-selected="true" data-unique-id="Id" data-checkbox="true"></table>
                    @*<table class="table table-bordered" id="tablereference" data-checkbox="true" data-pagination="true" data-side-pagination="server" data-maintain-selected="true"></table>*@
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary btnAddReference" data-dismiss="modal" id="btnAddReference" style="min-width:120px;"><i class="fa fa-pencil"></i> Add</button>
            </div>
        </div>
    </div>
</div>
<div id="ModalAddNewParts" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create New Parts Item</h4>
            </div>
            <form id="FormAddNewParts">
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary BtnAddNewParts" data-dismiss="modal" id="BtnAddNewParts" style="min-width:120px;"><i class="fa fa-pencil"></i> Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="ModalUpdateReference" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" id="div-modalReferenceItem">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Data</h4>
            </div>
            <form id="FormReference">
                <div class="modal-body">
                    <div class="row" id="formeditreference">
                        <div class="col-md-4" id="div-column1">
                            <div class="form-group hide">
                                <label class="control-label col-lg-4 col-xs-4">Id Item</label>
                                <div class="input-group col-lg-8 col-xs-8">
                                    <input type="text" class="form-control" id="IdItem" name="IdItem" disabled>
                                </div>
                            </div>
                            <div class="form-group" id="div-IdReference">
                                <label class="control-label col-lg-4 col-xs-4">Id Reference</label>
                                <div class="input-group col-lg-8 col-xs-8">
                                    <input type="text" class="form-control" id="IdReference" name="IdReference" disabled>
                                </div>
                            </div>
                            <div class="form-group" id="div-ReferenceItemCipl">
                                <label class="control-label col-lg-4 col-xs-4">Reference No</label>
                                <div class="input-group col-lg-8 col-xs-8">
                                    <input type="text" class="form-control" id="ReferenceItemCipl" name="ReferenceItemCipl" disabled>
                                </div>
                            </div>
                            <div class="form-group" id="div-IdCustomerItemCipl">
                                <label class="control-label col-lg-4 col-xs-4">Id Customer</label>
                                <div class="input-group col-lg-8 col-xs-8">
                                    <input type="text" class="form-control" id="IdCustomerItemCipl" name="IdCustomerItemCipl" disabled>
                                </div>
                            </div>
                            <div class="form-group hide" id="div-IdCustomerItemCipl">
                                <label class="control-label col-lg-4 col-xs-4">Id Parent</label>
                                <div class="input-group col-lg-8 col-xs-8">
                                    <input type="text" class="form-control" id="IdParentItemCipl" name="IdParentItemCipl" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4 col-xs-4">Name Of Goods</label>
                                <div class="input-group col-lg-8 col-xs-8">
                                    <input type="text" class="form-control" id="NameItemCipl" name="NameItemCipl">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4 col-xs-4">UOM</label>
                                <div class="input-group col-lg-8 col-xs-8">
                                    <select class="select2" id="UomItemCipl" name="UomItemCipl"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4 col-xs-4">Quantity</label>
                                <div class="input-group col-lg-8 col-xs-8">
                                    <div class="input-daterange input-group" id="datepicker">
                                        <input type="text" class="input-small form-control" name="QuantityItemCipl" id="QuantityItemCipl" /> <span class="input-group-addon" style="background:#00C0EF;border-color:#00ACD6;color:white">MAX</span>
                                        <input type="text" class="input-small form-control" name="MaxQuantityItemCipl" id="MaxQuantityItemCipl" disabled />
                                        <input type="text" class="input-small form-control hide" name="AvailableQuantityItemCipl" id="AvailableQuantityItemCipl" disabled />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-lg-4 col-xs-4">Part Number</label>
                                <div class="input-group col-lg-8 col-xs-8">
                                    <input type="text" class="form-control" id="PartItemCipl" name="PartItemCipl" disabled>
                                </div>
                            </div>

                            <div class="form-group" id="div-SIBNumberItemCipl">
                                <label class="control-label col-lg-4 col-xs-4">SIB Number</label>
                                <div class="input-group col-lg-8 col-xs-8">
                                    <input type="text" class="form-control" id="SIBNumberItemCipl" name="SIBNumberItemCipl">
                                </div>
                            </div>
                            <div class="form-group" id="div-WONumberItemCipl">
                                <label class="control-label col-lg-4 col-xs-4">WO Number</label>
                                <div class="input-group col-lg-8 col-xs-8">
                                    <input type="text" class="form-control" id="WONumberItemCipl" name="WONumberItemCipl">
                                </div>
                            </div>
                            <div class="form-group" id="div-ClaimItemCipl">
                                <label class="control-label col-lg-4 col-xs-4">Claim</label>
                                <div class="input-group col-lg-8 col-xs-8">
                                    <input type="text" class="form-control" id="ClaimItemCipl" name="ClaimItemCipl">
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4" id="div-column2">
                            <div class="form-group" id="div-SnItemCipl">
                                <label class="control-label col-lg-4 col-xs-4">SN</label>
                                <div class="input-group col-lg-8 col-xs-8">
                                    <input type="text" class="form-control" id="SnItemCipl" name="SnItemCipl">
                                </div>
                            </div>
                            <div class="form-group" id="div-JcodeItemCipl">
                                <label class="control-label col-lg-4 col-xs-4">J-Code</label>
                                <div class="input-group col-lg-8 col-xs-8">
                                    <input type="text" class="form-control" id="JcodeItemCipl" name="JcodeItemCipl" disabled>
                                </div>
                            </div>
                            <div class="form-group" id="div-CcrItemCipl">
                                <label class="control-label col-lg-4 col-xs-4">CCR</label>
                                <div class="input-group col-lg-8 col-xs-8">
                                    <input type="text" class="form-control" id="CcrItemCipl" name="CcrItemCipl" disabled>
                                </div>
                            </div>
                            <div class="form-group" id="div-CaseNumItemCipl">
                                <label class="control-label col-lg-4 col-xs-4">Case Number</label>
                                <div class="input-group col-lg-8 col-xs-8">
                                    <input type="text" class="form-control" id="CaseNumItemCipl" name="CaseNumItemCipl">
                                </div>
                            </div>
                            <div class="form-group" id="div-ASNNumItemCipl">
                                <label class="control-label col-lg-4 col-xs-4">ASN Number</label>
                                <div class="input-group col-lg-8 col-xs-8">
                                    <input type="text" class="form-control" id="ASNNumItemCipl" name="ASNNumItemCipl">
                                </div>
                            </div>
                            <div class="form-group" id="div-CoOItemCipl">
                                <label class="control-label col-lg-4 col-xs-4">Country of Origin</label>
                                <div class="input-group col-lg-8 col-xs-8">
                                    <input type="text" class="form-control" id="CoOItemCipl" name="CoOItemCipl">
                                </div>
                            </div>
                            <div class="form-group" id="div-TypeItemCipl">
                                <label class="control-label col-lg-4 col-xs-4">Type</label>
                                <div class="input-group col-lg-8 col-xs-8">
                                    <input type="text" class="form-control" id="TypeItemCipl" name="TypeItemCipl">
                                </div>
                            </div>
                            <div class="form-group" id="div-YearMadeItemCipl">
                                <label class="control-label col-lg-4 col-xs-4">Year made</label>
                                <div class="input-group col-lg-8 col-xs-8">
                                    <input type="text" class="form-control" id="YearMadeItemCipl" name="YearMadeItemCipl">
                                </div>
                            </div>
                            <div class="form-group" id="div-IdNoItemCipl">
                                <label class="control-label col-lg-4 col-xs-4">ID No</label>
                                <div class="input-group col-lg-8 col-xs-8">
                                    <input type="text" class="form-control" id="IdNoItemCipl" name="IdNoItemCipl" disabled>
                                </div>
                            </div>
                            <div class="form-group hide">
                                <label class="control-label col-lg-4 col-xs-4">Currency</label>
                                <div class="input-group col-lg-8 col-xs-8">
                                    <input type="text" class="form-control" id="CurrencyItemCipl" name="CurrencyItemCipl" disabled>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4" id="div-column3">
                            <div class="form-group">
                                <label class="control-label col-lg-4 col-xs-4">Unit Price</label>
                                <div class="input-group col-lg-8 col-xs-8">
                                    <input type="text" class="form-control" id="UnitItemCipl" name="UnitItemCipl" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4 col-xs-4">Extended Value</label>
                                <div class="input-group col-lg-8 col-xs-8">
                                    <input type="text" class="form-control" id="ExtendedItemCipl" name="ExtendedItemCipl" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4 col-xs-4">Length</label>
                                <div class="input-group col-lg-8 col-xs-8">
                                    <input type="text" class="form-control SumVolume decimal" id="LengthItemCipl" name="LengthItemCipl" value=0>
                                    <div class="input-group-addon" style="width: 50px; background:#00C0EF;border-color:#00ACD6; color:white;">cm</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4 col-xs-4">Width</label>
                                <div class="input-group col-lg-8 col-xs-8">
                                    <input type="text" class="form-control SumVolume decimal" id="WidthItemCipl" name="WidthItemCipl" value=0>
                                    <div class="input-group-addon" style="width: 50px; background:#00C0EF;border-color:#00ACD6; color:white;">cm</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4 col-xs-4">Height</label>
                                <div class="input-group col-lg-8 col-xs-8">
                                    <input type="text" class="form-control SumVolume decimal" id="HeightItemCipl" name="HeightItemCipl" value=0>
                                    <div class="input-group-addon" style="width: 50px; background:#00C0EF;border-color:#00ACD6; color:white;">cm</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4 col-xs-4">Volume</label>
                                <div class="input-group col-lg-8 col-xs-8">
                                    <input type="text" class="form-control decimal" id="VolumeItemCipl" name="VolumeItemCipl" disabled>
                                    <div class="input-group-addon" style="width: 50px; background:#00C0EF;border-color:#00ACD6; color:white;">m3</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4 col-xs-4">Net Weight</label>
                                <div class="input-group col-lg-8 col-xs-8">
                                    <input type="text" class="form-control decimal" id="NetItemCipl" name="NetItemCipl" value=0>
                                    <div class="input-group-addon" style="width: 50px; background:#00C0EF;border-color:#00ACD6; color:white;">KGs</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4 col-xs-4">Gross Weight</label>
                                <div class="input-group col-lg-8 col-xs-8">
                                    <input type="text" class="form-control decimal" id="GrossItemCipl" name="GrossItemCipl" value=0>
                                    <div class="input-group-addon" style="width: 50px; background:#00C0EF;border-color:#00ACD6; color:white;">KGs</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btnAddReference" data-dismiss="modal" id="btnAddReference" style="min-width:120px;"><i class="fa fa-pencil"></i> Add</button>
                    <button type="button" class="btn btn-primary btnAddMisc" data-dismiss="modal" id="btnAddMisc" style="min-width:120px;"><i class="fa fa-pencil"></i> Add</button>
                    <button type="button" class="btn btn-primary btnUpdateReference" data-dismiss="modal" id="btnUpdateReference" style="min-width:120px;"><i class="fa fa-pencil"></i> Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="myModalRequestForChangeReason" class="modal fade in" role="dialog">
    <div class="modal-dialog modal-lg" style="width:800px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title-document">Request for change reason</h4>
            </div>
            <form id="FormDocument">
                <div class="modal-body">
                    <div class="row" id="formeditreference">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="input-group col-md-12 col-xs-12">
                                    <textarea class="form-control" id="ReasonForChange" name="ReasonForChange" rows="5"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btnAddDocument" data-dismiss="modal" id="RequestChange" style="min-width:120px;"><i class="fa fa-pencil"></i> Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
@if (ViewBag.IsImexUser && ViewBag.CanRequestForChange)
{
    <script>
        $(".EditReferenceItem").hide();
        $(".DeleteReferenceItem").hide();
    </script>
}
<script src="~/Scripts.app/EMCS/dropzone.js"></script>
<script src="@Url.Content("~/Scripts.app/EMCS/Custom.js")"></script>
<script src="/Scripts/loadingoverlay.min.js"></script>

