<div class="row">
    <div class="col-xs-12 table-responsive">
        <input type="hidden" name="idCipl" id="idCipl" value="@Model.Data.Id" />
        <table id="tableCiplProblemHistory" data-toolbar=".toolbar" class="table table-bordered"></table>
    </div>
</div>