<div class="row">
    <div class="col-xs-12 table-responsive">
        @*<table id="tableCiplDocuments" data-toolbar=".toolbar" class="table table-bordered"></table>*@
        <table id="tableCiplFormDocuments1" data-toolbar=".toolbar" class="table table-bordered"></table>
    </div>
</div>