@{
    ViewBag.Title = "Total Export Transaction USD";
}

<div class="row">
    <div class="col-md-6 pull-left">
        <div class="box box-primary box-shadow">
            <div class="box-header with-border">
                <div class="pull-right" style="padding:3px;">
                    <div class="dropdown pull-right">
                        <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="i-total-export-monthly" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left:5px;">
                            <i class="fa fa-cog"></i>
                        </button>
                        <ul class="dropdown-menu keep-open" id="open-total-export-monthly">
                            <form class="form-horizontal" id="form-total-export-monthly">
                                <li style="padding:5px;border-bottom:1px solid #ebe6e6;width:200px;">
                                    <div class="input-group col-lg-12 col-xs-12">
                                        <input type="text" class="form-control yearpicker" id="date1-total-export-monthly" name="dateCipl" placeholder="Start Date" autocomplete="off">
                                        <div class="input-group-addon cal" style="background:#00C0EF;border-color:#00ACD6;">
                                            <i class="fa fa-calendar" style="color:#FFFFFF;"></i>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="control-label">Filter</label>
                                            <select class="pull-right select2 form-control required" id="TrendExportFilterExportType1">
                                                <option value=>Sales & Non Sales</option>
                                                <option value="Sales">Sales</option>
                                                <option value="Non Sales">Non Sales</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li style="padding:5px;border-bottom:1px solid #ebe6e6;">
                                    <button type="submit" class="btn btn-success btn-sm" id="btn-total-export-monthly" style="width:100%;"><i class="fa fa-search"></i>&nbsp;Filter</button>
                                </li>
                            </form>
                        </ul>
                    </div>
                    <button class="btn btn-secondary btn-sm pull-right" id="btn-total-export-monthly-download"><i class="fa fa-file-excel-o"></i></button>&nbsp;
                </div>
                <div id="container"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6 pull-left">
        <div class="box box-primary box-shadow">
            <div class="box-header with-border">
                <div class="pull-right" style="padding:3px;">
                    <div class="dropdown pull-right">
                        <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="i-total-export-port" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left:5px;">
                            <i class="fa fa-cog"></i>
                        </button>
                        <ul class="dropdown-menu keep-open" id="open-total-export-port">
                            <form class="form-horizontal" id="form-total-export-port">
                                <li style="padding:5px;border-bottom:1px solid #ebe6e6;width:200px;">
                                    <div class="input-group col-lg-12 col-xs-12">
                                        <input type="text" class="form-control yearpicker" id="date1-total-export-port" name="dateCipl" placeholder="Start Date" autocomplete="off">
                                        <div class="input-group-addon cal" style="background:#00C0EF;border-color:#00ACD6;">
                                            <i class="fa fa-calendar" style="color:#FFFFFF;"></i>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="control-label">Filter</label>
                                            <select class="pull-right select2 form-control required" id="TrendExportFilterExportType2">
                                                <option value=>Sales & Non Sales</option>
                                                <option value="Sales">Sales</option>
                                                <option value="Non Sales">Non Sales</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li style="padding:5px;border-bottom:1px solid #ebe6e6;">
                                    <button type="submit" class="btn btn-success btn-sm" id="btn-export-type" style="width:100%;"><i class="fa fa-search"></i>&nbsp;Filter</button>
                                </li>
                            </form>
                        </ul>
                    </div>
                    <button class="btn btn-secondary btn-sm pull-right" id="btn-total-export-port-download"><i class="fa fa-file-excel-o"></i></button>&nbsp;
                </div>
                <div id="container2"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/Scripts.app/EMCS/report/ExportTransaction.cshtml.js")
    @Scripts.Render("~/Scripts.app/EMCS/highcharts/highchart.js")
    @Scripts.Render("~/Scripts.app/EMCS/highcharts/highcharts-3d.js")
    <script src="@Url.Content("~/Scripts.app/EMCS/Custom.js")"></script>
}
