<div class="row">
    <div class="col-xs-12 table-responsive">
        <table id="tableGrDocuments1" data-toolbar=".toolbar" class="table table-bordered" data-toggle="table">
        </table>
    </div>
</div>


