
@{
    ViewBag.Title = "Receipt Goods List";
}
@*@Styles.Render("~/Content/EMCS/SweetAlert/sweetalert2.min.css")*@

@{
    if (ViewBag.AllowDelete)
    {
        <input type="hidden" name="AllowDelete" id="AllowDelete" class="form-control" value="True">
    }

    if (ViewBag.AllowUpdate)
    {
        <input type="hidden" name="AllowUpdate" id="AllowUpdate" class="form-control" value="True">
    }
    if (ViewBag.IsImexUser)
    {
        <input type="hidden" name="IsImexUser" id="IsImexUser" class="form-control" value=true>
    }
    if (ViewBag.IsCKB)
    {
        <input type="hidden" name="IsCKB" id="IsCKB" class="form-control" value=true>
    }
    else
    {
        <input type="hidden" name="IsCKB" id="IsCKB" class="form-control" value=false>
    }
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-warning">
            <div class="box-body">
                <div class="toolbarCipl" id="toolbar">
                    <div class="fa-pull-left" id="mySearch" style="padding-right:2px">
                        <input name="searchText" class="form-control" type="text" placeholder="Search..." style="height: 32px;">
                    </div>

                    <a href="~/EMCS/CreateGR" class="btn btn-warning btn-sm"><i class="fa fa-plus-circle"></i>&nbsp;Create RG</a>
                    <a class="btn btn-success" href="/Download/DownloadUserGuide?menuname=RgBast"><i class="fa fa-download" aria-hidden="true"></i>  Download User Guide RgBast</a>
                </div>
                <table class="table table-bordered" data-toolbar=".toolbarCipl" id="TblGoodReceive"></table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @*<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>*@
    @*@Scripts.Render("~/Content/Post/SweetAlert/sweetalert2.min.js")*@
    @*<script src="@Url.Content("~/Content/EMCS/SweetAlert/sweetalert2.all.min.js")"></script>*@

    @*<script src="@Url.Content("~/Scripts.App/EMCS/NewPopup.cshtml.js")"></script>*@
    <script src="@Url.Content("~/Scripts.App/EMCS/transaction/GoodsReceive.cshtml.js")"></script>
    <script src="@Url.Content("~/Scripts.app/EMCS/Custom.js")"></script>
}

