<!-- -----------------------------------******** MODAL APPROVE CIPL ********----------------------------------- -->
<div id="ApprovalCIPL" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header mytask">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5><i class="far fa-check-circle"></i> APRROVE CIPL</h5>

            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="#">
                    <div class="form-group">
                        <label class="col-sm-4">
                            CIPL NUMBER
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="" name="" placeholder="E.192382898290182" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4">NOTES</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" rows="8" placeholder="" id="" name=""></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-rotate" data-dismiss="modal">APPROVE</button>
            </div>
        </div>
    </div>
</div>
<!-- -----------------------------------******** MODAL REJECT CIPL ********----------------------------------- -->
<div id="RejectCIPL" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">

        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header mytask">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5><i class="fa fa-ban"></i> REJECT CIPL</h5>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="">
                    <div class="form-group">
                        <label class="col-sm-4">
                            CIPL NUMBER
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="" name="" placeholder="E.192382898290182" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4">
                            DATE
                        </label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control" id="datePickup" name="datePickup" placeholder="Date Pickup" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4">PROBLEM CATEGORY</label>
                        <div class="col-sm-8">
                            <select class="form-control">
                                <option value=""> -- Pilih --</option>
                                <option value=""> DOCUMENT </option>
                                <option value=""> SHIPPING </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4">
                            REASONS
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="" name="" placeholder="">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-rotate" data-dismiss="modal">REJECT</button>
            </div>
        </div>
    </div>
</div>
<!-- -----------------------------------******** MODAL REVISE CIPL ********----------------------------------- -->
<div id="ReviseCIPL" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header mytask">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5><i class="fa fa-history"></i> REVISE CIPL</h5>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="">
                    <div class="form-group">
                        <label class="col-sm-4">
                            CIPL NUMBER
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="" name="" placeholder="E.192382898290182" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4">
                            DATE
                        </label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control" id="datePickup" name="datePickup" placeholder="Date Pickup" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4">PROBLEM CATEGORY</label>
                        <div class="col-sm-8">
                            <select class="form-control">
                                <option value=""> -- Pilih --</option>
                                <option value=""> DOCUMENT </option>
                                <option value=""> SHIPPING </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4">
                            REASONS
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="" name="" placeholder="">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning btn-rotate" data-dismiss="modal">REVISE</button>
            </div>
        </div>
    </div>
</div>