@{
    Layout = "";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Not Authorize Access</title>
</head>
<body>
    <h1>Warning</h1>
    <h4>Sorry you not have an Access to this page</h4>
    <a href="~">Go to home</a>
</body>
</html>