@model App.Web.Models.ReportFilterView
<div class="col-lg-12">
    <!-- FILTER KOLOM KIRI - START -->
    <div class="col-lg-6">
        <div class="form-group">
            <label class="control-label col-lg-4 col-xs-4">Filter By</label>
            <div class="control-label col-lg-2 col-xs-3" style="margin-top:-7px">
                <div class="switch-toggle switch-2 well" style="margin-bottom:0px;height:30px;">
                    <input id="hub" name="filter_type" type="radio" checked value="HUB">
                    <label for="hub" onclick="setFilter(1)">HUB</label>
                    <input id="area" name="filter_type" type="radio" value="AREA">
                    <label for="area" onclick="setFilter(2)">AREA</label>
                    <a class="btn btn-primary"></a>
                </div>
            </div>
            <div class="input-group col-lg-6 col-xs-5">
                @Html.DropDownListFor(m => m.FilterBy, new SelectList(Model.HubList, "id", "text"), "ALL", new { @class = "js-states form-control", @style = "width:95%;display:none" })
            </div>

            @*<div class="control-label col-lg-4 col-xs-4">
                <label class="control-label col-lg-5 col-xs-5" style="margin-top:-6px">Filter By</label>
                <div class="control-label col-lg-7" style="margin-top:-14px">
                    <div class="switch-toggle switch-2 well" style="margin-bottom:0px;height:30px;">
                        <input id="hub" name="filter_type" type="radio" checked value="HUB">
                        <label for="hub" onclick="setFilter(1)">HUB</label>
                        <input id="area" name="filter_type" type="radio" value="AREA">
                        <label for="area" onclick="setFilter(2)">AREA</label>
                        <a class="btn btn-primary"></a>
                    </div>

                </div>
            </div>
            <div class="input-group col-lg-8 col-xs-8">
                @Html.DropDownListFor(m => m.FilterBy, new SelectList(Model.HubList, "id", "text"), "ALL", new { @class = "js-states form-control", @style = "width:95%;display:none" })
            </div>*@
        </div>
        <div class="form-group">
            <label class="control-label col-lg-4 col-xs-4">Plant</label>
            <div class="input-group col-lg-8 col-xs-8">
                @Html.DropDownListFor(m => m.StoreNumber, new SelectList(Model.StoreNumberList, "id", "text"), "ALL", new { @class = "js-states form-control", @style = "width:95%;display:none" })

            </div>
        </div>
        <!-- FILTER KOLOM KIRI - END -->
    </div>

    <!-- FILTER KOLOM KANAN - START -->
    <div class="col-lg-6">
        <div class="form-group">
            <label class="control-label col-lg-4 col-xs-4">EntryDate</label>
            <div class="input-group col-lg-8 col-xs-8">
                <input id="EntryDate" type="text" class="form-control pull-right daterange" readonly="readonly" style="background-color: #ffffff" />
                <div class="input-group-addon cal" style="background:#00C0EF;border-color:#00ACD6;">
                    <i class="fa fa-calendar" style="color:#FFFFFF;"></i>
                </div>

            </div>
        </div>
        <div class="pull-right col-xs-8" style="text-align:right;padding-right:0;">
            <button id="btnFilter" type="button" class="btn btn-success" style="width:125px;"><i class="fa fa-search"></i> Filter</button>
            <button type="button" id="btn-clear" class="btn btn-danger" style="width:125px;"><i class="fa fa-times-circle"></i> Clear</button>
        </div>
    </div>
    <!-- FILTER KOLOM KANAN - END -->
</div>

<script src="~/Scripts.app/Report/_report.js"></script>