<?xml version="1.0" encoding="utf-8" ?>
<appSettings>

  <clear/>

  <!--<add key="UrlPortal" value="http://portalstg2.trakindo.co.id"/>-->
  <add key="UrlPortal" value="http://portal.trakindo.co.id"/>

  <!-- role application -->
  <add key="Max.manifest.kg" value="20000"/>
  <add key="login.delay" value="3"/>
  <add key="login.delay.time" value="1"/>
  <add key="login.locked" value="5"/>

  <!-- upload folder Folder -->
  <add key="ImagesData.upload" value="~/Upload"/>
  <add key="ImagesData.document" value="~/Upload/doc"/>
  <add key="ImagesData.thumbs" value="~/Upload/thumb"/>
  <add key="ImagesData.imexFiles" value="~/Upload/ImexFiles"/>

  <!-- Email Notification-->
  <add key="EmailEnable"    value="false" />
  <add key="EmailEnableBCC" value="true" />
  <add key="EmailAdmin" value="tenshs@gmail.com"/>

  <add key="EncryptPassword" value = "false" />

  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="vs:EnableBrowserLink" value="false" />
  <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />

  <add key="EmailUrl" value="https://netapps.trakindo.co.id:82/trakindo-gateway-email/MailService.svc/mail/send" />
  <add key="ErrorEmailTo" value="ali.mutasal@iforce.co.id" />
  
  <!-- Emah.MVC Config -->
  <add key="elmah.mvc.disableHandler" value="false" />
  <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
  <add key="elmah.mvc.requiresAuthentication" value="true" />
  <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
  <add key="elmah.mvc.allowedRoles" value="*" />
  <add key="elmah.mvc.allowedUsers" value="*" />
  <add key="elmah.mvc.route" value="log/errors" />
  <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />

  <add key="ApplicationDevelopment" value="True" />
  
  <add key="UserNameFolderKOFAX" value="KofaxPOST" />
  <add key="PasswordFolderKOFAX" value="Trakindo1!" />
</appSettings>
