<connectionStrings>
  <clear />
  <add name="dtsConnection" connectionString="Server=tuazvmdb01.tu.tmt.co.id;Database=DTS;User Id=v.mkindo;Password=mK!nd0;" providerName="System.Data.SqlClient" />
  <!--<add name="pisConnection" connectionString="Server=vtu-sapcrmqas.tu.tmt.co.id;Database=PartsInformationSystem;User Id=portalqa;Password=portalqa1609;" providerName="System.Data.SqlClient" />-->
  <add name="pisReportConnection" connectionString="data source=edw.trakindo.co.id;initial catalog=EDW_APPS;user id=v.mkindo;password=mK!nd0;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="emcsConnection" connectionString="Server=tuazvmdb01.tu.tmt.co.id;Database=EMCS_Prod;User Id=v.mkindo;Password=mK!nd0;" providerName="System.Data.SqlClient" />
  <add name="pisConnection" connectionString="Server=tuazvmdb01.tu.tmt.co.id;Database=PartsInformationSystem;User Id=v.mkindo;Password=mK!nd0;" providerName="System.Data.SqlClient" />
  <add name="postConnection" connectionString="Server=tuazvmdb01.tu.tmt.co.id;Database=POST_APPS;User Id=v.mkindo;Password=mK!nd0;" providerName="System.Data.SqlClient" />
</connectionStrings>